In [2]:
from pykrx import stock

# YYYYMMDD 형태의 날짜 문자열로 설정
#date = "20230324"

# 특정 종목 코드 설정, 예: 삼성전자의 종목 코드 '005930'
#ticker = "005930"

# 해당 날짜의 특정 종목에 대한 프로그램 매매 순매수 정보 가져오기
df = stock.get_market_trading_volume_by_investor("20210115", "20210122", "005930")

print(df)

              매도         매수       순매수
투자자구분
금융투자    29455909   26450600  -3005309
보험       1757287     509535  -1247752
투신       2950680    1721970  -1228710
사모        745727     696135    -49592
은행         38675      46394      7719
기타금융       39234      55932     16698
연기금 등   48627448   39518395  -9109053
기관합계    83614960   68998961 -14615999
기타법인     1530304    2044871    514567
개인      79567418  102852747  23285329
외국인     33055664   23810318  -9245346
기타외국인     177257     238706     61449
전체     197945603  197945603         0

In [ ]:
from pykrx import stock
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv("삼성전자프로그램.csv", thousands=',',encoding='cp949')

df['next_day_return'] = (df['종가'].shift(-1) - df['종가'])/ df['종가'].shift(-1)
df['target'] = df['next_day_return'].apply(lambda x: 1 if x > 0.25 else -1)

In [17]:
df

,날짜,시가,고가,저가,종가,"MA_종가,단순,5","MA_종가,단순,20","MA_종가,단순,60","MA_종가,단순,120","MA_종가,단순,240",프로그램순매수(종목),누적,Unnamed: 12,next_day_return,target
0,2024-03-26,79700,80100,79200,79900,78640.0,74585.0,74445.0,72591.0,70715.0,5435725,-391057096,NaN,-0.021739,-1
1,2024-03-25,79600,79800,77800,78200,77220.0,74230.0,74390.0,72503.0,70645.0,91637,-396492821,NaN,0.008872,-1
2,2024-03-22,79600,79900,77800,78900,76140.0,73965.0,74352.0,72425.0,70586.0,736074,-396584458,NaN,0.005044,-1
3,2024-03-21,79200,79300,77700,79300,74820.0,73675.0,74287.0,72342.0,70521.0,11191715,-397320532,NaN,-0.031209,-1
4,2024-03-20,73700,77200,73400,76900,73820.0,73360.0,74212.0,72261.0,70452.0,6645834,-408512247,NaN,-0.056319,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2012-01-26,22320,22420,21880,22260,21736.0,NaN,NaN,NaN,NaN,80297,545075,NaN,0.000898,-1
2996,2012-01-25,21840,22500,21840,22280,NaN,NaN,NaN,NaN,NaN,142752,464778,NaN,-0.008145,-1
2997,2012-01-20,21800,22100,21520,22100,NaN,NaN,NaN,NaN,NaN,160967,322026,NaN,-0.030784,-1
2998,2012-01-19,20760,21440,20740,21440,NaN,NaN,NaN,NaN,NaN,121627,161059,NaN,-0.040777,-1
2999,2012-01-18,21020,21040,20440,20600,NaN,NaN,NaN,NaN,NaN,39432,39432,NaN,NaN,-1

In [1]:
from pykrx import stock
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv("삼성전자프로그램.csv", thousands=',',encoding='cp949')

df['next_day_return'] = (df['종가'].shift(+1) - df['종가'])/ df['종가'] *100
df['target'] = df['next_day_return'].apply(lambda x: 1 if x > 0.25 else -1)

In [2]:
df

,날짜,시가,고가,저가,종가,"MA_종가,단순,5","MA_종가,단순,20","MA_종가,단순,60","MA_종가,단순,120","MA_종가,단순,240",프로그램순매수(종목),누적,Unnamed: 12,next_day_return,target
0,2024-03-26,79700,80100,79200,79900,78640.0,74585.0,74445.0,72591.0,70715.0,5435725,-391057096,NaN,NaN,-1
1,2024-03-25,79600,79800,77800,78200,77220.0,74230.0,74390.0,72503.0,70645.0,91637,-396492821,NaN,2.173913,1
2,2024-03-22,79600,79900,77800,78900,76140.0,73965.0,74352.0,72425.0,70586.0,736074,-396584458,NaN,-0.887199,-1
3,2024-03-21,79200,79300,77700,79300,74820.0,73675.0,74287.0,72342.0,70521.0,11191715,-397320532,NaN,-0.504414,-1
4,2024-03-20,73700,77200,73400,76900,73820.0,73360.0,74212.0,72261.0,70452.0,6645834,-408512247,NaN,3.120936,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2012-01-26,22320,22420,21880,22260,21736.0,NaN,NaN,NaN,NaN,80297,545075,NaN,1.078167,1
2996,2012-01-25,21840,22500,21840,22280,NaN,NaN,NaN,NaN,NaN,142752,464778,NaN,-0.089767,-1
2997,2012-01-20,21800,22100,21520,22100,NaN,NaN,NaN,NaN,NaN,160967,322026,NaN,0.814480,1
2998,2012-01-19,20760,21440,20740,21440,NaN,NaN,NaN,NaN,NaN,121627,161059,NaN,3.078358,1
2999,2012-01-18,21020,21040,20440,20600,NaN,NaN,NaN,NaN,NaN,39432,39432,NaN,4.077670,1

In [5]:
from pykrx import stock
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv("삼성전자프로그램.csv", thousands=',',encoding='cp949')

df['next_day_return'] = (df['종가'].shift(+1) - df['종가'])/ df['종가'] *100
df['target'] = df['next_day_return'].apply(lambda x: 1 if x > 0.25 else -1)


df1= df.iloc[1:300, :]
X = df1.drop(['날짜','target', 'next_day_return', 'Unnamed: 12'], axis=1) 
y = df1['target']
# Calculating correlations for Forward Selection
correlations = X.corrwith(y).abs().sort_values(ascending=False).reset_index()
correlations.columns = ['Feature', 'Correlation']

#Performing T-tests
t_tests = {column: ttest_ind(X[column][y == 1], X[column][y == -1], nan_policy='omit') for column in X.columns}
t_tests_sorted = sorted(t_tests.items(), key=lambda x: x[1].pvalue)
t_tests_df = pd.DataFrame(t_tests_sorted, columns=['Feature', 'T-test'])
t_tests_df['T-test'] = t_tests_df['T-test'].apply(lambda x: x.pvalue)  # Only keep p-value for simplicity

# # Lasso and Ridge regression
# lasso = LassoCV().fit(X, y)
# ridge = RidgeCV().fit(X, y)

# lasso_importance = np.abs(lasso.coef_)
# ridge_importance = np.abs(ridge.coef_)

# features_lasso_sorted = sorted(zip(X.columns, lasso_importance), key=lambda x: x[1], reverse=True)
# features_ridge_sorted = sorted(zip(X.columns, ridge_importance), key=lambda x: x[1], reverse=True)

# features_lasso_df = pd.DataFrame(features_lasso_sorted, columns=['Feature', 'Lasso Importance'])
# features_ridge_df = pd.DataFrame(features_ridge_sorted, columns=['Feature', 'Ridge Importance'])

# Random Forest for feature importance
rf = RandomForestRegressor()
rf.fit(X, y)

features_rf_sorted = sorted(zip(X.columns, rf.feature_importances_), key=lambda x: x[1], reverse=True)
features_rf_df = pd.DataFrame(features_rf_sorted, columns=['Feature', 'RF Importance'])

# # Combining all the data into a single dataframe without merging by feature
# final_df = pd.concat([correlations, t_tests_df.drop('Feature', axis=1), features_lasso_df.drop('Feature', axis=1), 
#                       features_ridge_df.drop('Feature', axis=1), features_rf_df.drop('Feature', axis=1)], axis=1)

In [6]:
correlations

         Feature  Correlation
0             저가     0.107261
1             시가     0.102930
2             누적     0.102758
3             종가     0.099749
4    MA_종가,단순,20     0.092960
5             고가     0.092155
6     MA_종가,단순,5     0.092066
7    MA_종가,단순,60     0.073732
8    프로그램순매수(종목)     0.049945
9   MA_종가,단순,120     0.046381
10  MA_종가,단순,240     0.003840

In [13]:
from pykrx import stock
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv("LG엔솔.csv", thousands=',')

In [14]:
from pykrx import stock
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv("LG엔솔.csv", thousands=',')

df['next_day_return'] = (df['종가'].shift(+1) - df['종가'])/ df['종가'] *100
df['target'] = df['next_day_return'].apply(lambda x: 1 if x > 0.25 else -1)


df1= df.iloc[1:300, :]
X = df1.drop(['날짜','target', 'next_day_return', 'Unnamed: 12'], axis=1) 
y = df1['target']
# Calculating correlations for Forward Selection
correlations = X.corrwith(y).abs().sort_values(ascending=False).reset_index()
correlations.columns = ['Feature', 'Correlation']

#Performing T-tests
t_tests = {column: ttest_ind(X[column][y == 1], X[column][y == -1], nan_policy='omit') for column in X.columns}
t_tests_sorted = sorted(t_tests.items(), key=lambda x: x[1].pvalue)
t_tests_df = pd.DataFrame(t_tests_sorted, columns=['Feature', 'T-test'])
t_tests_df['T-test'] = t_tests_df['T-test'].apply(lambda x: x.pvalue)  # Only keep p-value for simplicity

# # Lasso and Ridge regression
# lasso = LassoCV().fit(X, y)
# ridge = RidgeCV().fit(X, y)

# lasso_importance = np.abs(lasso.coef_)
# ridge_importance = np.abs(ridge.coef_)

# features_lasso_sorted = sorted(zip(X.columns, lasso_importance), key=lambda x: x[1], reverse=True)
# features_ridge_sorted = sorted(zip(X.columns, ridge_importance), key=lambda x: x[1], reverse=True)

# features_lasso_df = pd.DataFrame(features_lasso_sorted, columns=['Feature', 'Lasso Importance'])
# features_ridge_df = pd.DataFrame(features_ridge_sorted, columns=['Feature', 'Ridge Importance'])

# Random Forest for feature importance
rf = RandomForestRegressor()
rf.fit(X, y)

features_rf_sorted = sorted(zip(X.columns, rf.feature_importances_), key=lambda x: x[1], reverse=True)
features_rf_df = pd.DataFrame(features_rf_sorted, columns=['Feature', 'RF Importance'])

# # Combining all the data into a single dataframe without merging by feature
# final_df = pd.concat([correlations, t_tests_df.drop('Feature', axis=1), features_lasso_df.drop('Feature', axis=1), 
#                       features_ridge_df.drop('Feature', axis=1), features_rf_df.drop('Feature', axis=1)], axis=1)

In [15]:
correlations

         Feature  Correlation
0   MA_종가,단순,240     0.152426
1             누적     0.142887
2   MA_종가,단순,120     0.065330
3    프로그램순매수(종목)     0.052788
4             종가     0.040237
5             저가     0.038144
6             시가     0.035903
7             고가     0.034474
8    MA_종가,단순,60     0.033233
9    MA_종가,단순,20     0.032916
10    MA_종가,단순,5     0.022055

In [16]:
features_rf_df

         Feature  RF Importance
0    프로그램순매수(종목)       0.153753
1             누적       0.116744
2   MA_종가,단순,240       0.102761
3     MA_종가,단순,5       0.088758
4             시가       0.084653
5   MA_종가,단순,120       0.083306
6    MA_종가,단순,20       0.083115
7             종가       0.078712
8    MA_종가,단순,60       0.071143
9             저가       0.068712
10            고가       0.068342

In [18]:
X_top8 = X['프로그램순매수(종목)']
y = df['target']  # y 값을 0과 1로 조정

In [19]:
X_top8

1       5117.0
2      11179.0
3      52967.0
4      18530.0
5     -10451.0
        ...
295    -3967.0
296    -1484.0
297    11274.0
298    29782.0
299     7135.0
Name: 프로그램순매수(종목), Length: 299, dtype: float64

In [20]:
y

0     -1
1     -1
2     -1
3     -1
4      1
      ..
526   -1
527    1
528    1
529    1
530   -1
Name: target, Length: 531, dtype: int64

In [25]:
from pykrx import stock
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
X_top8 = X[['프로그램순매수(종목)']]
y = df1['target']  # y 값을 0과 1로 조정
# 데이터를 학습 세트와 테스트 세트로 분할
X_train, X_test, y_train, y_test = train_test_split(X_top8, y, test_size=0.3, random_state=42)

# 모델 초기화
models = {
    'SVC': SVC(),
    'LogisticRegression': LogisticRegression(),
    'DecisionTreeClassifier': DecisionTreeClassifier(),
    'RandomForestClassifier': RandomForestClassifier()
}

# 점수를 저장할 딕셔너리
scores = {
    'Model': [],
    'Accuracy': [],
    'Precision': [],
    'Recall': [],
    'F1_Score': []
}

# 각 모델에 대해 학습 및 평가
for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    scores['Model'].append(model_name)
    scores['Accuracy'].append(accuracy_score(y_test, y_pred))
    scores['Precision'].append(precision_score(y_test, y_pred, average='macro'))
    scores['Recall'].append(recall_score(y_test, y_pred, average='macro'))
    scores['F1_Score'].append(f1_score(y_test, y_pred, average='macro'))

# 점수 딕셔너리를 데이터프레임으로 변환
scores_df = pd.DataFrame(scores)
scores_df

                    Model  Accuracy  Precision    Recall  F1_Score
0                     SVC  0.511111   0.752809  0.511111  0.357560
1      LogisticRegression  0.511111   0.752809  0.511111  0.357560
2  DecisionTreeClassifier  0.544444   0.544466  0.544444  0.544388
3  RandomForestClassifier  0.544444   0.544466  0.544444  0.544388