In [112]:
import pandas as pd
import numpy as np

In [113]:
df = pd.read_csv('코스피_라벨피쳐_전처리.csv',index_col = 0)
df = df.iloc[:,:6]
df.isna().sum()

회사명                                     0
거래소코드                                   0
회계년도                                    0
이자보상배율(이자비용)(IFRS연결)                  224
영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)    224
자본(*)(IFRS연결)(천원)                     224
dtype: int64

In [114]:
ind = np.where(df.iloc[:,3:].isna().all(axis=1))[0]
df = df.sort_values(['거래소코드','회사명','회계년도'])
df = df.drop(index = ind).reset_index(drop=True)
df

,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS연결),영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),자본(*)(IFRS연결)(천원)
0,동화약품(주),20,2010/12,6.25,11628787.0,217153837.0
1,동화약품(주),20,2011/12,14.58,46244032.0,229623874.0
2,동화약품(주),20,2012/12,9.47,25226760.0,226994670.0
3,동화약품(주),20,2013/12,5.37,8205110.0,227231127.0
4,동화약품(주),20,2014/12,33.65,13514668.0,229725782.0
...,...,...,...,...,...,...
9400,평산차업집단유한공사,950010,2013/12,-3.73,-8319318.0,564467978.0
9401,평산차업집단유한공사,950010,2014/12,-4.68,38192401.0,506680091.0
9402,중국고섬공고유한공사,950070,2010/12,160.04,-45607448.0,123584520.0
9403,중국고섬공고유한공사,950070,2011/12,-5.54,-18326012.0,225755014.0
9404,중국고섬공고유한공사,950070,2012/12,-3.36,-14132145.0,197742612.0

In [115]:
def condition1(x):
    if x< 1:
        return -1
    else :
        return 0
        
def condition2_3(x):
    if x< 0:
        return -1
    else :
        return 0

In [116]:
df['이자보상배율'] = df['이자보상배율(이자비용)(IFRS연결)'].map(condition1)
df['현금흐름'] = df['영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)'].map(condition2_3)
df['자본'] = df['자본(*)(IFRS연결)(천원)'].map(condition2_3)

In [117]:
df['부실'] = df['자본'].map( lambda x: 1 if x < 0 else 0)

In [118]:
df2 = pd.DataFrame()
for i in df['회사명'].unique():
    temp = df[df['회사명'] == i]
    temp = temp.reset_index(drop = True)
    for j in range(len(temp) - 2):
        if temp.iloc[j:j+3,6].apply("sum") == -3:
            temp.iloc[j+2,-1] = 1
    df2 = pd.concat([df2,temp],axis = 0)
df = df2

In [119]:
df2 = pd.DataFrame()
for i in df['회사명'].unique():
    temp = df[df['회사명'] == i]
    temp = temp.reset_index(drop = True)
    for j in range(len(temp) - 2):
        if temp.iloc[j:j+3,7].apply("sum") == -3:
            temp.iloc[j+2,-1] = 1
    df2 = pd.concat([df2,temp],axis = 0)
df = df2

In [120]:
df.to_csv('코스피_라벨링.csv')

In [121]:
df = pd.read_csv('코스닥_라벨피쳐_전처리.csv',index_col = 0)
df = df.iloc[:,:6]
df.isna().sum()

회사명                                      0
거래소코드                                    0
회계년도                                     0
이자보상배율(이자비용)(IFRS연결)                  2357
영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)    2356
자본(*)(IFRS연결)(천원)                     2356
dtype: int64

In [122]:
ind = np.where(df.iloc[:,3:].isna().all(axis=1))[0]
df = df.sort_values(['거래소코드','회사명','회계년도'])
df = df.drop(index = ind).reset_index(drop=True)
df

,회사명,거래소코드,회계년도,이자보상배율(이자비용)(IFRS연결),영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),자본(*)(IFRS연결)(천원)
0,삼천당제약(주),250,2010/12,104.600000,10860780.0,80827680.0
1,삼천당제약(주),250,2011/12,127.500000,11351295.0,84091916.0
2,삼천당제약(주),250,2012/12,203.800000,1602316.0,86634240.0
3,삼천당제약(주),250,2013/12,17.310000,15941392.0,119231455.0
4,삼천당제약(주),250,2014/12,37.970000,19549844.0,139676351.0
...,...,...,...,...,...,...
16736,(주)소마젠,950200,2022/12,-6.090000,-288735.0,35683447.0
16737,(주)네오이뮨텍,950220,2019/12,-124.505337,-14788020.0,115885823.0
16738,(주)네오이뮨텍,950220,2020/12,-168.300000,-28906170.0,84226680.0
16739,(주)네오이뮨텍,950220,2021/12,-236.850000,-33886577.0,162042429.0
16740,(주)네오이뮨텍,950220,2022/12,-222.590000,-42404803.0,119689261.0

In [123]:
df['이자보상배율'] = df['이자보상배율(이자비용)(IFRS연결)'].map(condition1)
df['현금흐름'] = df['영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)'].map(condition2_3)
df['자본'] = df['자본(*)(IFRS연결)(천원)'].map(condition2_3)

In [124]:
df['부실'] = df['자본'].map( lambda x: 1 if x < 0 else 0)

In [125]:
df2 = pd.DataFrame()
for i in df['회사명'].unique():
    temp = df[df['회사명'] == i]
    temp = temp.reset_index(drop = True)
    for j in range(len(temp) - 2):
        if temp.iloc[j:j+3,6].apply("sum") == -3:
            temp.iloc[j+2,-1] = 1
    df2 = pd.concat([df2,temp],axis = 0)
df = df2

In [126]:
df2 = pd.DataFrame()
for i in df['회사명'].unique():
    temp = df[df['회사명'] == i]
    temp = temp.reset_index(drop = True)
    for j in range(len(temp) - 2):
        if temp.iloc[j:j+3,7].apply("sum") == -3:
            temp.iloc[j+2,-1] = 1
    df2 = pd.concat([df2,temp],axis = 0)
df = df2

In [127]:
df.to_csv('코스닥_라벨링.csv')

In [128]:
len(df[df['부실'] == 1]['회사명'].unique())

811

In [129]:
len(df['회사명'].unique())

1862

In [130]:
#이자비용이나 부채가 감소하는 방향으로 가고있는 기업 선택

In [131]:
df['부실'].value_counts()

부실
0    13960
1     2781
Name: count, dtype: int64

In [132]:
df = pd.read_csv('코스닥_라벨링.csv',index_col = 0)

In [133]:
enp_name = ['(주)이십일스토어', '(주)디와이디', '(주)비유테크놀러지', '글로본(주)', '(주)자비스', '에코캡(주)', '(주)카이노스메드', '(주)디딤이앤에프', '(주)넵튠', '(주)뉴온', '(주)스피어파워', '지엘팜텍(주)', '(주)액션스퀘어', '(주)모비스', '(주)우정바이오', '(주)유디피', '(주)셀바스헬스케어', '(주)바이오로그디바이스', '(주)코아시아씨엠', '케이에이치건설(주)', '(주)애닉', '(주)본느', '(주)로보로보', '글로벌텍스프리(주)', '(주)썸에이지', '에스지에이솔루션즈(주)', '(주)엔투텍', '(주)쎄노텍', '나무기술(주)', '엠에프엠코리아(주)', '(주)웹솔루스', '(주)세토피아', '(주)스튜디오산타클로스엔터테인먼트', '(주)애드바이오텍', '(주)베노티앤알', '(주)셀리드', '(주)비큐AI', '로스웰인터내셔널(유)', '(주)티씨엠생명과학', '(주)휴센텍', '(주)나노', '(주)우성아이비', '(주)네온테크', '원텍(주)', '(주)아이엘사이언스', '(주)한송네오텍', '(주)넥슨게임즈', '(주)엘피케이로보틱스']