In [8]:
import yfinance as yf
import datetime
import pandas as pd

# 시작 및 종료 날짜 설정
start_date = '2012-01-01'
end_date = '2022-12-31'

# 코스피 지수에 해당하는 코드는 ^KS11
kospi_data = yf.download('^KS11', start=start_date, end=end_date, interval='1mo')

# 일별 수익률 계산
# kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100
kospi_data['Monthly Return'] = kospi_data['Adj Close'].pct_change() * 100
print(kospi_data['Monthly Return'])

[*********************100%%**********************]  1 of 1 completed

Date
2012-01-01          NaN
2012-02-01     3.807155
2012-03-01    -0.798422
2012-04-01    -1.591331
2012-05-01    -6.988936
                ...
2022-08-01     0.838264
2022-09-01   -12.805568
2022-10-01     6.407829
2022-11-01     7.800799
2022-12-01    -9.550142
Name: Monthly Return, Length: 132, dtype: float64

In [9]:
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Monthly Return
Date,,,,,,,
2012-01-01,1831.689941,1973.349976,1810.479980,1955.790039,1955.790039,8596100,NaN
2012-02-01,1948.569946,2047.430054,1947.459961,2030.250000,2030.250000,13201900,3.807155
2012-03-01,2041.520020,2057.280029,1966.689941,2014.040039,2014.040039,10434600,-0.798422
2012-04-01,2022.420044,2051.800049,1954.010010,1981.989990,1981.989990,10647200,-1.591331
2012-05-01,1994.170044,2001.109985,1779.469971,1843.469971,1843.469971,10022300,-6.988936
...,...,...,...,...,...,...,...
2022-08-01,2444.050049,2546.350098,2417.010010,2472.050049,2472.050049,9760600,0.838264
2022-09-01,2443.000000,2453.949951,2134.770020,2155.489990,2155.489990,9370100,-12.805568
2022-10-01,2189.510010,2295.510010,2162.870117,2293.610107,2293.610107,11769900,6.407829
2022-11-01,2301.580078,2499.429932,2296.439941,2472.530029,2472.530029,12745000,7.800799
2022-12-01,2501.429932,2501.429932,2236.379883,2236.399902,2236.399902,8429100,-9.550142

In [20]:
import yfinance as yf
import pandas as pd

# Yahoo Finance에서 주식 데이터 가져오기
ticker = '^KS11'  # KOSPI 지수의 티커 심볼
data = yf.download(ticker, start='2010-01-01', end='2024-12-31', interval='1mo')

# 데이터프레임의 인덱스를 날짜 형식으로 변환
data.index = pd.to_datetime(data.index)

# 'Adj Close' 열만 사용
adj_close = data['Adj Close']

# 연도별 마지막 달의 종가를 추출
annual_close = adj_close.resample('Y').last()

# 연도별 주가 수익률 계산
annual_return = annual_close.pct_change() * 100

# NaN 값 제거
annual_return = annual_return.dropna()

# 연도별 주가 수익률을 보기 쉽게 데이터프레임으로 변환
annual_return_df = annual_return.to_frame(name='Annual Return (%)')

# 인덱스를 연도(YYYY) 형식의 문자열로 변환
annual_return_df.index = annual_return_df.index.year

# 엑셀 파일로 저장
excel_file_path = 'annual_return.xlsx'
annual_return_df.to_excel(excel_file_path, index_label='연도')

[*********************100%%**********************]  1 of 1 completed
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_8580\3598412305.py:15: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  annual_close = adj_close.resample('Y').last()

In [22]:
import yfinance as yf
import pandas as pd

# Yahoo Finance에서 코스닥 지수 데이터 가져오기 (예: ^KQ11이 KOSDAQ 지수의 티커 심볼로 가정)
ticker = '^KQ11'
data = yf.download(ticker, start='2011-01-01', end='2022-12-31', interval='1mo')

# 데이터프레임의 인덱스를 날짜 형식으로 변환
data.index = pd.to_datetime(data.index)

# 'Adj Close' 열만 사용
adj_close = data['Adj Close']

# 연도별 마지막 달의 종가를 추출
annual_close = adj_close.resample('Y').last()

# 연도별 주가 수익률 계산
annual_return = annual_close.pct_change() * 100

# NaN 값 제거
annual_return = annual_return.dropna()

# 연도별 주가 수익률을 보기 쉽게 데이터프레임으로 변환
annual_return_df = annual_return.to_frame(name='Annual Return (%)')

# 인덱스를 연도(YYYY) 형식의 문자열로 변환
annual_return_df.index = annual_return_df.index.year

# 엑셀 파일로 저장
excel_file_path = 'kosdaq_annual_return.xlsx'
annual_return_df.to_excel(excel_file_path, index_label='연도')

print(f"연도별 주가 수익률 데이터가 '{excel_file_path}' 파일로 저장되었습니다.")

[*********************100%%**********************]  1 of 1 completed

연도별 주가 수익률 데이터가 'kosdaq_annual_return.xlsx' 파일로 저장되었습니다.

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_8580\2167132402.py:15: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  annual_close = adj_close.resample('Y').last()

In [ ]:
import yfinance as yf
import pandas as pd

# 시작 및 종료 년도 설정
start_year = 2011
end_year = 2022

# 년도별 변동성을 저장할 데이터프레임 생성
volatility_df = pd.DataFrame(columns=['Year', 'Volatility'])

for year in range(start_year, end_year + 1):
    # 해당 년도의 데이터를 가져옴
    start_date = f"{year}-01-01"
    end_date = f"{year}-12-31"
    kospi_data = yf.download('^KS11', start=start_date, end=end_date)
    
    # 종가를 기준으로 일별 수익률을 계산
    kospi_data['Daily Returns'] = kospi_data['Close'].pct_change()
    
    # 변동성 계산 (일별 수익률의 표준편차)
    volatility = kospi_data['Daily Returns'].std()
    
    # 년도별 변동성을 데이터프레임에 추가
    volatility_df = volatility_df.append({'Year': year, 'Volatility': volatility}, ignore_index=True)

# 결과 출력
print(volatility_df)