In [ ]:
import pandas as pd

### 데이터 프레임 읽기 
- '거버넌스추가된df.csv' 파일을 읽기. 
- 단, 읽을때 unnamed: 0 열이 생기지 않도록 하기

In [5]:
import pandas as pd
# ts2000에서 인덱스 열 없이 파일 읽어오기 index_col=0
df = pd.read_csv('C:\\Users\\SAMSUNG\\Documents\\vscode\\2024\\튜터링\\2일\\data\\거버넌스추가된df.csv', encoding='cp949',index_col=0)

In [6]:
df

,거래소코드,year,Date,Name,Close,Marcap,Stocks,회계년도,회사명,산업코드,...,연평균복리수익률,시총2,수익률,PBR,업종PBR,발행주식의 총수 (현재 발행한 주식수 - 현재 감소한 주식수),유통주식수 (발행주식의 총수 - 자기주식수),이익소각,자기주식수,보통주식비율
0,50,2014,2014-12-30,경방,182000,4.989579e+05,2741527,2014-12-01,(주)경방,74700,...,-0.009326,2.716605e+05,0.836697,0.789561,0.872886,2741527.0,2741527.0,0.0,0.0,55.82
1,4170,2014,2014-12-30,신세계,181000,1.781978e+06,9845181,2014-12-01,(주)신세계,74700,...,0.019475,2.485908e+06,-0.283168,0.573663,0.872886,9845181.0,9836415.0,0.0,8766.0,27.14
2,7070,2014,2014-12-30,GS리테일,25650,1.975050e+06,77000000,2014-12-01,(주)지에스리테일,74700,...,0.049433,2.156000e+06,-0.083929,1.261437,0.872886,77000000.0,77000000.0,0.0,0.0,65.75
3,69960,2014,2014-12-30,현대백화점,123000,2.878500e+06,23402441,2014-12-01,(주)현대백화점,74700,...,-0.090154,3.767793e+06,-0.236025,0.853030,0.872886,23402441.0,23035186.0,0.0,367255.0,36.08
4,139480,2014,2014-12-30,이마트,203000,5.658791e+06,27875819,2014-12-01,(주)이마트,74700,...,-0.099966,7.428906e+06,-0.238274,0.886741,0.872886,27875819.0,27864181.0,0.0,11638.0,27.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876,53690,2018,2018-12-28,한미글로벌,9520,1.043159e+05,10957550,2018-12-01,(주)한미글로벌건축사사무소,137200,...,0.117209,9.748222e+04,0.070102,1.058466,1.373860,10957550.0,10057550.0,0.0,900000.0,26.17
1877,53690,2019,2019-12-30,한미글로벌,9600,1.051925e+05,10957550,2019-12-01,(주)한미글로벌건축사사무소,137200,...,0.117209,1.043159e+05,0.008403,0.989414,1.263770,10957550.0,9976905.0,0.0,980645.0,26.14
1878,53690,2020,2020-12-30,한미글로벌,10450,1.145064e+05,10957550,2020-12-01,(주)한미글로벌건축사사무소,137200,...,0.117209,1.051925e+05,0.088542,0.998573,1.476016,10957550.0,9421550.0,0.0,1536000.0,27.06
1879,53690,2021,2021-12-30,한미글로벌,12150,1.331342e+05,10957550,2021-12-01,(주)한미글로벌건축사사무소,137200,...,0.117209,1.145064e+05,0.162679,1.060394,2.923165,10957550.0,9471550.0,0.0,1486000.0,24.71
1880,53690,2022,2022-12-29,한미글로벌,26900,2.947581e+05,10957550,2022-12-01,(주)한미글로벌건축사사무소,137200,...,0.117209,1.331342e+05,1.213992,2.045466,2.627743,10957550.0,10171550.0,0.0,786000.0,19.17

#### df의 거래소코드를 제로패딩하기

In [8]:
df['거래소코드'].astype(str).str.zfill(6)

0       000050
1       004170
2       007070
3       069960
4       139480
         ...
1876    053690
1877    053690
1878    053690
1879    053690
1880    053690
Name: 거래소코드, Length: 1881, dtype: object

### 시가총액 가져오기

In [18]:
### 예시
from pykrx import stock
stock.get_market_ohlcv('20140301',"20140304","000050","d")
#시작기간, 종료기간, 거래소코드, 일자별 데이터 가져오기
# 끝의 d를 m으로 수정할 경우 가져오는 데이터의 가장 마지막 날짜 데이터 가져옴
# 해당 코드에서 '종가'는 수정종가임.

               시가     고가     저가     종가   거래량       등락률
날짜
2014-03-03  11900  11900  11550  11850   426 -0.420168
2014-03-04  11750  11750  11500  11650  1289 -1.687764

In [19]:
stock.get_market_cap("20190101", "20190110", "005930")
#특정 종목의 시가총액 데이터 가져오기 
#시작일, 종료일, 거래소코드

Empty DataFrame
Columns: []
Index: []

#### 거래소코드 005930의  2024년 3월 4일의 시가총액과 종가를 구하기

In [25]:
df1 = stock.get_market_ohlcv("20240304","20240304","005930","d")
df1["종가"][0]

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_1140\3853275127.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1["종가"][0]

74900

#### 구한 종가와 시가총액에서 인덱스인 날짜를 제외한 '값'만 추출해보기

#### for문 연습용
- 1. df_example에서 거래소코드의 고유값을 추출하기 
- 2. df_example의 거래소코드별 종가와 시가총액을 출력해보기 (print 사용)
- 3. Adj_close, Marcap이라는 빈 리스트를 만들어서 종가와 시가총액을 리스트에 담기 (개별값 추출시 iloc사용해야함)

In [27]:
# 더미 데이터프레임 생성
data = {'거래소코드': [1, 2, 3, 4, 5, 6],
        '종가': [100, 200, 150, 300, 250, 180],
        '시가총액': [1000, 1500, 1100, 2000, 1600, 1050]}
df_example = pd.DataFrame(data)

In [35]:
trade_code = df_example['거래소코드'].unique()

for i in trade_code:
    print(df_example[df_example['거래소코드']==i]['종가'].iloc[0])
    print(df_example[df_example['거래소코드']==i]['시가총액'].iloc[0])

100
1000
200
1500
150
1100
300
2000
250
1600
180
1050

In [40]:
# 3. Adj_close, Marcap이라는 빈 리스트를 만들어서 종가와 시가총액을 리스트에 담기 (개별값 추출시 iloc사용해야함)

trade_code = df_example['거래소코드'].unique()

Adj_close = []


for i in trade_code:
    Adj_close.append(df_example[df_example['거래소코드']==i]['종가'].iloc[0])
   

Marcap = []
for i in trade_code:
 
    Marcap.append(df_example[df_example['거래소코드']==i]['시가총액'].iloc[0])
print(Adj_close)
print(Marcap)

[100, 200, 150, 300, 250, 180]
[1000, 1500, 1100, 2000, 1600, 1050]

#### df에서 거래소코드를 중복되지 않게 추출하고, 종가와 시가총액 구하기
- for문 사용 
- 1. 빈 리스트를 만들고
- 2. df의 거래소코드를 중복되지 않게 추출하고
- 3. for문을 통해 위에서 구한 코드로 종가를 출력하고 (단, 종가와 시가총액출력시 iloc 써도가능 하지만, 필요는 없음)
- 4. 리스트에 합쳐줘야함.

In [43]:
result = []

df3 = df['거래소코드'].unique()

for i in df3:

 
    Marcap.append(df_example[df_example['거래소코드']==i]['시가총액'].iloc[0])

array([    50,   4170,   7070,  69960, 139480,     70,    320,    590,
         1040,   1800,   2030,   3030,   3550,   5250,   5440,   5740,
         5810,   6040,   6260,   7540,   7700,   8930,   9970,  12320,
        16710,  30000,  34310,  34730,  35000,  36530,  60980,  72710,
        78930,  84690, 102260, 107590,    100,   1630,   3090,   3220,
         6280,   9290,  68270,  69620, 128940,    120,   4360,   9070,
        14130,    270,    430,   2920,   5380,   6660,   9680,  12330,
        15230,  41650,  64960,  75180, 123700,    390,    860,    880,
         1390,   2100,   2790,   2840,   3240,   4000,   4430,   6650,
         6890,   7590,   7690,   8490,  11170,  11780,  11790,  12610,
        14680,  14830,  15890,  25000,  51900,  51910,  81000,  89470,
        90350,  90430,  92230, 120110, 138490,    480,   1560,   3300,
         3410,   3670,   4090,  10780,  11390,    660,   5680,   5930,
         9150,  29530, 108320,    670,   1940,   2240,   5010,   5490,
         9160,  10130,  14280,  19440,  32560,  84010, 103140,    720,
          850,  11700,  17550,  18880,   1130,   1680,   2140,   3230,
         3960,   4370,   5180,   5610,   7310,  49770,  97950, 145990,
         1460,  16450,  20000,  93050,   2170,   2450,   2810,   4080,
         9240,  11760,  17940,  18670,  26960,  47050,  77500,  81660,
       111770,   3200,   3780,   4250,   4840,   5720,   6060,  14440,
        35150, 100250, 115390,   4690,  17390,   4970,   7160,   6220,
        24110,  55550,  86790, 105560, 138930, 139130,   6340,   6400,
         7340,   9450,  10120,  17040,  25540,   8250,  25750,   9180,
        86280,   9580,  16590,  10960,  12450,  12510,  12750,  94280,
        17670,  32640, 126560,  17960,  21240,  23590,  35420,  78000,
        25530,  26890,  34830,  29460,  29780,  33780,  36570,  53210,
        53690], dtype=int64)

#### 만들어낸 거래소코드, 수정종가, 시가총액을 하나의 데이터프레임으로 만들기
- 이름은 df_stock