### 절대 모멘텀
- 파생변수 'STD-YM' 생성 -> index에서 년-월 추출하여 대입
- 'STD-YM' 별 마지막날의 데이터를 , month_last_df 에 저장
- 전월의 수정주가 값을 가진 파생변수를 생성
- 전년도의 수정주가 값을 가진 파생변수를 생성
- 전월의 데이터와 전년도의 데이터를 기준으로 하여 거래 내역 생성
- 수익률 계산

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_11336\3172591061.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [6]:
df = pd.read_csv('C:/Users/SAMSUNG/Documents/R/csv/MSFT.csv', index_col='Date')

In [8]:
df.head(1)

                Open      High       Low     Close  Adj Close      Volume
Date
1986-03-13  0.088542  0.101563  0.088542  0.097222   0.069996  1031788800

In [7]:
# index를 시계열로 변경
df.index = pd.to_datetime(df.index, format="%Y-%m-%d")

In [12]:
# index의 데이터에서 년-월 추출하여 새로운 파생변수 STD-YM에 대입
df['STD-YM'] = df.index.strftime('%Y-%m')

In [ ]:
df.iloc[10:20]

In [15]:
# 월 말일의 조건식
# 다음 행의 STD-YM과 오늘의 STD-YM 의 값이 다른경우
flag = df['STD-YM'] != df.shift(-1)['STD-YM']
df.loc[flag,]

,Open,High,Low,Close,Adj Close,Volume,STD-YM
Date,,,,,,,
1986-03-31,0.096354,0.096354,0.093750,0.095486,0.068746,12873600,1986-03
1986-04-30,0.114583,0.115451,0.109375,0.111979,0.080620,30902400,1986-04
1986-05-30,0.118056,0.123264,0.118056,0.121528,0.087495,27072000,1986-05
1986-06-30,0.103299,0.109375,0.102431,0.106771,0.076870,62352000,1986-06
1986-07-31,0.099826,0.100694,0.098958,0.098958,0.071246,15638400,1986-07
...,...,...,...,...,...,...,...
2019-02-28,112.040001,112.879997,111.730003,112.029999,111.616837,29083900,2019-02
2019-03-29,118.070000,118.320000,116.959999,117.940002,117.505043,25399800,2019-03
2019-04-30,129.809998,130.699997,129.389999,130.600006,130.118362,24166500,2019-04
2019-05-31,124.230003,124.620003,123.320000,123.680000,123.680000,26646800,2019-05
2019-06-24,137.000000,138.389999,137.020004,138.289993,138.289993,9131553,2019-06

In [17]:
# 필터를 이용하여 마지막날의 데이터를 추출
_list = df['STD-YM'].unique()

month_last_df = pd.DataFrame()

for i in _list:
    flag = df['STD-YM'] == i
    data = df.loc[flag,].tail(1)
    month_last_df = pd.concat([month_last_df, data], axis=0)

In [ ]:
month_last_df

In [19]:
# 전월의 수정주가를 BF_1M 파생변수에 대입
# 전년도의 수정주가를 BF_12M 파생변수에 대입
# 두개의 파생변수 결측치는 0으로 대체
month_last_df['BF_1M'] = month_last_df['Adj Close'].shift(1).fillna(0)
month_last_df['BF_12M'] = month_last_df['Adj Close'].shift(12).fillna(0)

- 거래내역 생성
  - (전월의 수정주가/ 전년도의 수정주가)-1 의 값이 0보다 크고 무한대가 아닌 경우

In [ ]:
df['trade'] = ""

for i in month_last_df.index:
    signal = ""

    # 절대 모멘텀 계산식
    momentum_index = month_last_df.loc[i, 'BF_1M']/ month_last_df.loc[i, 'BF_12M'] - 1
    flag = True if((momentum_index>0)& (momentum_index != np.inf)) else False

    if flag:
        signal = "buy"

    print(f"날짜 : {i}, 모멘텀 인덱스 : {momentum_index}, flag : {flag}, signal : {signal}")
    df.loc[i:, 'trade'] = signal

In [25]:
df['trade'].value_counts()

trade
buy    6005
       2384
Name: count, dtype: int64

In [26]:
df['rtn'] = 1
for i in df.index:
    # 매수 조건식 (전날의 trade가 "" 오늘의 trade가 buy)
    if (df.shift().loc[i,'trade']=="")&(df.loc[i, 'trade']=='buy'):
        buy = df.loc[i,'Adj Close']
        print(f"매수일: {i}, 매수가 : {buy}")
    # 매도 조건식 (전날의 trade가 buy, 오늘의 trade가 "")
    elif (df.shift().loc[i,'trade']=='buy')&(df.loc[i,'trade']==""):
        sell = df.loc[i, 'Adj Close']
        rtn = sell/buy
        df.loc[i, 'rtn'] = rtn
        print(f"매도일 : {i}, 매도가 : {sell}, 수익률 : {rtn}")

매수일: 1987-03-31 00:00:00, 매수가 : 0.241861

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_13236\1918608814.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.1989655215185582' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[i, 'rtn'] = rtn

매도일 : 1988-05-31 00:00:00, 매도가 : 0.289983, 수익률 : 1.1989655215185582
매수일: 1988-06-30 00:00:00, 매수가 : 0.33498
매도일 : 1988-09-30 00:00:00, 매도가 : 0.261234, 수익률 : 0.7798495432563138
매수일: 1988-10-31 00:00:00, 매수가 : 0.244985
매도일 : 1988-12-30 00:00:00, 매도가 : 0.266234, 수익률 : 1.0867359226075066
매수일: 1989-02-28 00:00:00, 매수가 : 0.297482
매도일 : 1989-04-28 00:00:00, 매도가 : 0.279358, 수익률 : 0.939075305396629
매수일: 1989-08-31 00:00:00, 매수가 : 0.293733
매도일 : 1993-08-31 00:00:00, 매도가 : 1.690211, 수익률 : 5.754242798732181
매수일: 1994-02-28 00:00:00, 매수가 : 1.85614
매도일 : 1994-03-31 00:00:00, 매도가 : 1.906761, 수익률 : 1.0272721885202625
매수일: 1994-06-30 00:00:00, 매수가 : 2.322986
매도일 : 2000-03-31 00:00:00, 매도가 : 38.247726, 수익률 : 16.464897334723496
매수일: 2000-04-28 00:00:00, 매수가 : 25.108511
매도일 : 2000-05-31 00:00:00, 매도가 : 22.521158, 수익률 : 0.8969531486753635
매수일: 2001-05-31 00:00:00, 매수가 : 24.903316
매도일 : 2001-06-29 00:00:00, 매도가 : 26.278425, 수익률 : 1.055217907526853
매수일: 2001-07-31 00:00:00, 매수가 : 23.826982
매도일 : 2001-08-31 00:00:00, 매도가 : 20.536774, 수익률 : 0.8619125158192507
매수일: 2001-11-30 00:00:00, 매수가 : 23.114223
매도일 : 2002-04-30 00:00:00, 매도가 : 18.812477, 수익률 : 0.8138918189030192
매수일: 2003-05-30 00:00:00, 매수가 : 17.775116
매도일 : 2003-06-30 00:00:00, 매도가 : 18.519058, 수익률 : 1.041853003941015
매수일: 2003-07-31 00:00:00, 매수가 : 19.075199
매도일 : 2003-11-28 00:00:00, 매도가 : 18.673794, 수익률 : 0.9789567070833703
매수일: 2003-12-31 00:00:00, 매수가 : 19.879492
매도일 : 2004-04-30 00:00:00, 매도가 : 18.978844, 수익률 : 0.9546946169449401
매수일: 2004-05-28 00:00:00, 매수가 : 19.051483
매도일 : 2004-09-30 00:00:00, 매도가 : 20.142105, 수익률 : 1.0572460422109922
매수일: 2004-10-29 00:00:00, 매수가 : 20.375214
매도일 : 2004-12-31 00:00:00, 매도가 : 19.516724, 수익률 : 0.957865964009016
매수일: 2005-03-31 00:00:00, 매수가 : 17.708632
매도일 : 2005-04-29 00:00:00, 매도가 : 18.536539, 수익률 : 1.0467516067870177
매수일: 2005-09-30 00:00:00, 매수가 : 18.967484
매도일 : 2005-10-31 00:00:00, 매도가 : 18.945383, 수익률 : 0.9988347953792923
매수일: 2005-12-30 00:00:00, 매수가 : 19.333609
매도일 : 2006-05-31 00:00:00, 매도가 : 16.868202, 수익률 : 0.8724807665242429
매수일: 2006-09-29 00:00:00, 매수가 : 20.443462
매도일 : 2008-03-31 00:00:00, 매도가 : 21.65892, 수익률 : 1.0594546070523672
매수일: 2009-10-30 00:00:00, 매수가 : 21.876755
매도일 : 2010-07-30 00:00:00, 매도가 : 20.640396, 수익률 : 0.943485265524983
매수일: 2010-08-31 00:00:00, 매수가 : 18.869207
매도일 : 2010-09-30 00:00:00, 매도가 : 19.689262, 수익률 : 1.043459960982992
매수일: 2011-01-31 00:00:00, 매수가 : 22.43111
매도일 : 2011-02-28 00:00:00, 매도가 : 21.627945, 수익률 : 0.9641941482164725
매수일: 2011-05-31 00:00:00, 매수가 : 20.483835
매도일 : 2011-10-31 00:00:00, 매도가 : 21.948322, 수익률 : 1.0714947664829366
매수일: 2011-11-30 00:00:00, 매수가 : 21.241673
매도일 : 2011-12-30 00:00:00, 매도가 : 21.557222, 수익률 : 1.0148551858415296
매수일: 2012-02-29 00:00:00, 매수가 : 26.530468
매도일 : 2013-01-31 00:00:00, 매도가 : 23.439175, 수익률 : 0.8834813995742555
매수일: 2013-05-31 00:00:00, 매수가 : 30.258051
매도일 : 2015-09-30 00:00:00, 매도가 : 40.816662, 수익률 : 1.3489521185617674
매수일: 2015-11-30 00:00:00, 매수가 : 50.459522

In [27]:
df['acc_rtn'] = df['rtn'].cumprod()
df.tail()

,Open,High,Low,Close,Adj Close,Volume,STD-YM,trade,rtn,acc_rtn
Date,,,,,,,,,,
2019-06-18,134.190002,135.240005,133.570007,135.160004,135.160004,25934500,2019-06,buy,1.0,72.288746
2019-06-19,135.000000,135.929993,133.809998,135.690002,135.690002,23744400,2019-06,buy,1.0,72.288746
2019-06-20,137.449997,137.660004,135.720001,136.949997,136.949997,33042600,2019-06,buy,1.0,72.288746
2019-06-21,136.580002,137.729996,136.460007,136.970001,136.970001,36348400,2019-06,buy,1.0,72.288746
2019-06-24,137.000000,138.389999,137.020004,138.289993,138.289993,9131553,2019-06,buy,1.0,72.288746

### 절대 모멘텀 함수화
1. STD-YM 생성하는 함수 만들기
  - 매개변수 2개 (데이터프레임, 기준이되는 컬럼)
  - 데이터프레임의 복사본을 생성
  - 컬럼에 Date가 포함되어 있는지 확인하고 컬럼에 Date가 존재한다면 Date를 인덱스로 변환
  - 인덱스를 시계열 데이터로 변경
  - 데이터 중 결측치나 무한대 값을 제외
  - 기준이 되는 컬럼을 제외한 나머지 컬럼은 모두 삭제
  - STD-YM 컬럼을 생성하여 index에서 년-월 데이터를 추출하여 대입
  - 수정이 된 데이터프레임 리턴

In [4]:
def create_YM(
        _df, 
        _col = 'Adj Close'
):
    df = _df.copy()
    if 'Date' in df.columns:
        df.set_index('Date', inplace=True)
    df.index = pd.to_datetime(df.index, format = "%Y-%m-%d")
    flag = df.isin([np.nan, np.inf, -np.inf]).any(axis=1)

    df = df.loc[~flag, [_col]]
    
    df['STD-YM'] = df.index.strftime('%Y-%m')

    return df

In [20]:
df = pd.read_csv('C:/Users/SAMSUNG/Documents/R/csv/AAPL.csv')

In [21]:
ym_df = create_YM(df)

- 두번째 함수 생성
  - 매개변수 5개 (데이터프레임, 시작시간, 종료시간, 모멘텀 기간, 기준시점)
  - 시작시간 기본값 : 2010-01-01
  - 종료시간 기본값 : 오늘 날짜
  - 모멘텀 기간의 기본값 : 12
  - 기준시점 기본값 : 1 이고 0으로 변경시 월초의 데이터로 구성
  - 기준시점의 값에 따라 (월말|월초) 데이터만 모아서 새로운 데이터프레임을 생성
  - 생성된 데이터프레임을 기준으로 BF1 컬럼을 생성하여 전월의 데이터를 대입
  - BF2 컬럼을 생성하여 모멘텀(6->6개월 전) 기간 전의 데이터를 대입
  - 결측치는 0으로 대체
  - 데이터프레임을 시작시간과 종료시간으로 데이터 필터링
  - 결과를 리턴

In [22]:
def create_month(
        _df,
        _start = '2010-01-01',
        _end = datetime.now(),
        _momentum = 12,
        _select = 1
):
    if _select == 1:
        # 월말의 데이터들을 새로운 데이터프레임으로 생성
        # 현재 행의 년-월과 다음 행의 년-월이 다른 경우
        flag = _df['STD-YM'] != _df.shift(-1)['STD-YM']

    elif _select == 0:
        flag = _df['STD-YM'] != _df.shift()['STD-YM']

    else :
        return "_select 인자는 0과 1이 가능하다"
    col = _df.columns[0]
    df = _df.loc[flag,]

    # 기준이 되는 컬럼의 데이터를 인덱스 1씩 이동하고 결측치는 0으로 대체
    df['BF1'] = df.shift()[col].fillna(0)
    df['BF2'] = df.shift(_momentum)[col].fillna(0)

    # 시작시간부터 종료시간까지 데이터를 필터링한다.
    start = datetime.strptime(_start, '%Y-%m-%d')
    if type(_end) == 'str':
        end = datetime.strptime(_end, '%Y-%m-%d')
    else:
        end = _end    
    df = df.loc[start : end,]
    return df

In [23]:
month_df = create_month(ym_df, _select= 0)

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_11336\4154205520.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BF1'] = df.shift()[col].fillna(0)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_11336\4154205520.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BF2'] = df.shift(_momentum)[col].fillna(0)

- 세번째 함수
  - 매개변수 3개(1번 함수결과인 데이터프레임(_df1), 2번 함수의 결과인 데이터프레임(_df2), 모멘텀 스코어)
  - _df1에는 trade컬럼을 생성하고 "" 대입
  - _df1d에 rtn컬럼을 생성해서 1 대입
  - _df2를 이용하여 모멘텀 인덱스를 구하고 _df1에 거래 내역 대입
  - 거래 내역을 이용하여 수익률 계산
  - acc_rtn 컬럼을 생성하여 누적 수익률 대입
  - _df1, 총 누적수익률 리턴

In [34]:
def create_rtn(_df1,_df2,_score= 1):
    # _df1에 파생변수 2개 생성
    _df1['trade'] = ""
    _df1['rtn'] = 1

    # _df2 데이터를 이용하여 모멘텀 인덱스를 계산하고 거래 내역 추가
    for i in _df2.index:
        signal = ""

        # 절대 모멘텀 계산
        momentum_index = _df2.loc[i,'BF1']/ _df2.loc[i,'BF2']- _score

        # 모멘텀 인덱스가 무한대가 아니고 0보다 큰 경우
        flag = (momentum_index > 0) & (momentum_index != np.inf)

        if flag:
            signal = 'buy'

        _df1.loc[i:, 'trade'] = signal
        print(f"날짜 : {i}, 모멘텀 인덱스 : {momentum_index}, flag : {flag}, signal : {signal}")

    # 수익률 계산
    col = _df1.columns[0]

    for i in _df1.index:
        # 구매한 날의 조건식 (전날의 trade가 "", 오늘의 trade가 "buy")
        if (_df1.shift().loc[i,'trade'] == "") & (_df1.loc[i,'trade'] == "buy"):
            buy = _df1.loc[i, col]
            print(f"매수일 : {i}, 매수가 : {buy}")
        # 판매한 날의 조건식 (전날의 trade가 "buy", 오늘의 trade가 "")
        elif (_df1.shift().loc[i,'trade'] == "buy") & (_df1.loc[i, 'trade'] == ""):
            sell = _df1.loc[i,col]
            rtn = sell/buy
            _df1.loc[i,'rtn'] = rtn
            print(f"매도일 : {i}, 매도가 : {sell}, 수익률 : {rtn}")
        # 누적수익률 계산
    _df1['acc_rtn'] = _df1['rtn'].cumprod()

    # 총 누적수익률 변수에 대입
    acc_rtn = _df1.iloc[-1,]['acc_rtn']

    return _df1, acc_rtn

In [35]:
create_rtn(ym_df,month_df)

날짜 : 2010-01-04 00:00:00, 모멘텀 인덱스 : 1.1704684764787037, flag : True, signal : buy
날짜 : 2010-02-01 00:00:00, 모멘텀 인덱스 : 1.3386514367584996, flag : True, signal : buy
날짜 : 2010-03-01 00:00:00, 모멘텀 인덱스 : 1.2143503382467578, flag : True, signal : buy
날짜 : 2010-04-01 00:00:00, 모멘텀 인덱스 : 0.9228079513432723, flag : True, signal : buy
날짜 : 2010-05-03 00:00:00, 모멘텀 인덱스 : 0.8545267482992649, flag : True, signal : buy
날짜 : 2010-06-01 00:00:00, 모멘텀 인덱스 : 0.9113741463644562, flag : True, signal : buy
날짜 : 2010-07-01 00:00:00, 모멘텀 인덱스 : 0.826156002181849, flag : True, signal : buy
날짜 : 2010-08-02 00:00:00, 모멘텀 인덱스 : 0.492999881218835, flag : True, signal : buy
날짜 : 2010-09-01 00:00:00, 모멘텀 인덱스 : 0.5840892661901054, flag : True, signal : buy
날짜 : 2010-10-01 00:00:00, 모멘텀 인덱스 : 0.38410945262421703, flag : True, signal : buy
날짜 : 2010-11-01 00:00:00, 모멘텀 인덱스 : 0.49236669736674377, flag : True, signal : buy
날짜 : 2010-12-01 00:00:00, 모멘텀 인덱스 : 0.5442960562442314, flag : True, signal : buy
날짜 : 2011-01-03 00:00:00, 모멘텀 인덱스 : 0.4784358088320484, flag : True, signal : buy
날짜 : 2011-02-01 00:00:00, 모멘텀 인덱스 : 0.692446135640193, flag : True, signal : buy
날짜 : 2011-03-01 00:00:00, 모멘텀 인덱스 : 0.6509398238374189, flag : True, signal : buy
날짜 : 2011-04-01 00:00:00, 모멘텀 인덱스 : 0.4803157096109556, flag : True, signal : buy
날짜 : 2011-05-02 00:00:00, 모멘텀 인덱스 : 0.29363642846447724, flag : True, signal : buy
날짜 : 2011-06-01 00:00:00, 모멘텀 인덱스 : 0.32760854531276506, flag : True, signal : buy
날짜 : 2011-07-01 00:00:00, 모멘텀 인덱스 : 0.3904943146866531, flag : True, signal : buy
날짜 : 2011-08-01 00:00:00, 모멘텀 인덱스 : 0.310903433750056, flag : True, signal : buy
날짜 : 2011-09-01 00:00:00, 모멘텀 인덱스 : 0.5849076918318346, flag : True, signal : buy
날짜 : 2011-10-03 00:00:00, 모멘텀 인덱스 : 0.348683701240436, flag : True, signal : buy
날짜 : 2011-11-01 00:00:00, 모멘텀 인덱스 : 0.23150779677391187, flag : True, signal : buy
날짜 : 2011-12-01 00:00:00, 모멘텀 인덱스 : 0.2531920798391394, flag : True, signal : buy
날짜 : 2012-01-03 00:00:00, 모멘텀 인덱스 : 0.17707928685323715, flag : True, signal : buy
날짜 : 2012-02-01 00:00:00, 모멘텀 인덱스 : 0.19186761133173813, flag : True, signal : buy
날짜 : 2012-03-01 00:00:00, 모멘텀 인덱스 : 0.3059745227204864, flag : True, signal : buy
날짜 : 2012-04-02 00:00:00, 모멘텀 인덱스 : 0.5801895634470302, flag : True, signal : buy
날짜 : 2012-05-01 00:00:00, 모멘텀 인덱스 : 0.7865021955119111, flag : True, signal : buy
날짜 : 2012-06-01 00:00:00, 모멘텀 인덱스 : 0.6848426986186533, flag : True, signal : buy
날짜 : 2012-07-02 00:00:00, 모멘텀 인덱스 : 0.6343002599331635, flag : True, signal : buy
날짜 : 2012-08-01 00:00:00, 모멘텀 인덱스 : 0.4934343823617906, flag : True, signal : buy
날짜 : 2012-09-04 00:00:00, 모멘텀 인덱스 : 0.592551701361917, flag : True, signal : buy
날짜 : 2012-10-01 00:00:00, 모멘텀 인덱스 : 0.809577936486751, flag : True, signal : buy
날짜 : 2012-11-01 00:00:00, 모멘텀 인덱스 : 0.6701245115981116, flag : True, signal : buy
날짜 : 2012-12-03 00:00:00, 모멘텀 인덱스 : 0.5443536974279726, flag : True, signal : buy
날짜 : 2013-01-02 00:00:00, 모멘텀 인덱스 : 0.4381140274832176, flag : True, signal : buy
날짜 : 2013-02-01 00:00:00, 모멘텀 인덱스 : 0.21419951328073528, flag : True, signal : buy
날짜 : 2013-03-01 00:00:00, 모멘텀 인덱스 : -0.15946099087232346, flag : False, signal :
날짜 : 2013-04-01 00:00:00, 모멘텀 인덱스 : -0.2938852005006012, flag : False, signal :
날짜 : 2013-05-01 00:00:00, 모멘텀 인덱스 : -0.2523305179842429, flag : False, signal :
날짜 : 2013-06-03 00:00:00, 모멘텀 인덱스 : -0.2053797943672081, flag : False, signal :
날짜 : 2013-07-01 00:00:00, 모멘텀 인덱스 : -0.22297961135480615, flag : False, signal :
날짜 : 2013-08-01 00:00:00, 모멘텀 인덱스 : -0.31113740949159385, flag : False, signal :
날짜 : 2013-09-03 00:00:00, 모멘텀 인덱스 : -0.3118304467594173, flag : False, signal :
날짜 : 2013-10-01 00:00:00, 모멘텀 인덱스 : -0.24138899464388497, flag : False, signal :
날짜 : 2013-11-01 00:00:00, 모멘텀 인덱스 : -0.16252705476285734, flag : False, signal :
날짜 : 2013-12-02 00:00:00, 모멘텀 인덱스 : -0.09585754615795794, flag : False, signal :
날짜 : 2014-01-02 00:00:00, 모멘텀 인덱스 : 0.029228483742435918, flag : True, signal : buy
날짜 : 2014-02-03 00:00:00, 모멘텀 인덱스 : 0.2500001440461106, flag : True, signal : buy
날짜 : 2014-03-03 00:00:00, 모멘텀 인덱스 : 0.18742296453461438, flag : True, signal : buy
날짜 : 2014-04-01 00:00:00, 모멘텀 인덱스 : 0.26157613428092885, flag : True, signal : buy
날짜 : 2014-05-01 00:00:00, 모멘텀 인덱스 : 0.26418509367288157, flag : True, signal : buy
날짜 : 2014-06-02 00:00:00, 모멘텀 인덱스 : 0.336630086529488, flag : True, signal : buy
날짜 : 2014-07-01 00:00:00, 모멘텀 인덱스 : 0.5734363472530164, flag : True, signal : buy
날짜 : 2014-08-01 00:00:00, 모멘텀 인덱스 : 0.46820775197936015, flag : True, signal : buy
날짜 : 2014-09-02 00:00:00, 모멘텀 인덱스 : 0.4013943974221932, flag : True, signal : buy
날짜 : 2014-10-01 00:00:00, 모멘텀 인덱스 : 0.5153322273101948, flag : True, signal : buy
날짜 : 2014-11-03 00:00:00, 모멘텀 인덱스 : 0.3651727792853121, flag : True, signal : buy
날짜 : 2014-12-01 00:00:00, 모멘텀 인덱스 : 0.4123690116421652, flag : True, signal : buy
날짜 : 2015-01-02 00:00:00, 모멘텀 인덱스 : 0.4868859947066184, flag : True, signal : buy
날짜 : 2015-02-02 00:00:00, 모멘텀 인덱스 : 0.5580635692548734, flag : True, signal : buy
날짜 : 2015-03-02 00:00:00, 모멘텀 인덱스 : 0.597015022679136, flag : True, signal : buy
날짜 : 2015-04-01 00:00:00, 모멘텀 인덱스 : 0.6999470290467085, flag : True, signal : buy
날짜 : 2015-05-01 00:00:00, 모멘텀 인덱스 : 0.4983659109338554, flag : True, signal : buy
날짜 : 2015-06-01 00:00:00, 모멘텀 인덱스 : 0.45497329591969815, flag : True, signal : buy
날짜 : 2015-07-01 00:00:00, 모멘텀 인덱스 : 0.42034530411830384, flag : True, signal : buy
날짜 : 2015-08-03 00:00:00, 모멘텀 인덱스 : 0.340076832207715, flag : True, signal : buy
날짜 : 2015-09-01 00:00:00, 모멘텀 인덱스 : 0.16090912692001202, flag : True, signal : buy
날짜 : 2015-10-01 00:00:00, 모멘텀 인덱스 : 0.10467270838377396, flag : True, signal : buy
날짜 : 2015-11-02 00:00:00, 모멘텀 인덱스 : 0.01876810776197746, flag : True, signal : buy
날짜 : 2015-12-01 00:00:00, 모멘텀 인덱스 : 0.06647605394176592, flag : True, signal : buy
날짜 : 2016-01-04 00:00:00, 모멘텀 인덱스 : 0.09155119471475914, flag : True, signal : buy
날짜 : 2016-02-01 00:00:00, 모멘텀 인덱스 : -0.09681367179916878, flag : False, signal :
날짜 : 2016-03-01 00:00:00, 모멘텀 인덱스 : -0.2432605555786741, flag : False, signal :
날짜 : 2016-04-01 00:00:00, 모멘텀 인덱스 : -0.17590688351655792, flag : False, signal :
날짜 : 2016-05-02 00:00:00, 모멘텀 인덱스 : -0.1312221090008766, flag : False, signal :
날짜 : 2016-06-01 00:00:00, 모멘텀 인덱스 : -0.27241373486864706, flag : False, signal :
날짜 : 2016-07-01 00:00:00, 모멘텀 인덱스 : -0.20635030256850506, flag : False, signal :
날짜 : 2016-08-01 00:00:00, 모멘텀 인덱스 : -0.17381440915828428, flag : False, signal :
날짜 : 2016-09-01 00:00:00, 모멘텀 인덱스 : 0.0001282957983648192, flag : True, signal : buy
날짜 : 2016-10-03 00:00:00, 모멘텀 인덱스 : -0.005183506799420368, flag : False, signal :
날짜 : 2016-11-01 00:00:00, 모멘텀 인덱스 : -0.0516108915034551, flag : False, signal :
날짜 : 2016-12-01 00:00:00, 모멘텀 인덱스 : -0.03367662103443814, flag : False, signal :
날짜 : 2017-01-03 00:00:00, 모멘텀 인덱스 : 0.06242096179087975, flag : True, signal : buy
날짜 : 2017-02-01 00:00:00, 모멘텀 인덱스 : 0.23129978940343854, flag : True, signal : buy
날짜 : 2017-03-01 00:00:00, 모멘텀 인덱스 : 0.3021411514568022, flag : True, signal : buy
날짜 : 2017-04-03 00:00:00, 모멘텀 인덱스 : 0.29780125253812284, flag : True, signal : buy
날짜 : 2017-05-01 00:00:00, 모멘텀 인덱스 : 0.5670422502901165, flag : True, signal : buy
날짜 : 2017-06-01 00:00:00, 모멘텀 인덱스 : 0.5109989737765888, flag : True, signal : buy
날짜 : 2017-07-03 00:00:00, 모멘텀 인덱스 : 0.628046601280873, flag : True, signal : buy
날짜 : 2017-08-01 00:00:00, 모멘텀 인덱스 : 0.3790479837954468, flag : True, signal : buy
날짜 : 2017-09-01 00:00:00, 모멘텀 인덱스 : 0.4250868452712564, flag : True, signal : buy
날짜 : 2017-10-02 00:00:00, 모멘텀 인덱스 : 0.4836806967782994, flag : True, signal : buy
날짜 : 2017-11-01 00:00:00, 모멘텀 인덱스 : 0.40392075619404544, flag : True, signal : buy
날짜 : 2017-12-01 00:00:00, 모멘텀 인덱스 : 0.5432125812239226, flag : True, signal : buy
날짜 : 2018-01-02 00:00:00, 모멘텀 인덱스 : 0.4963463779656063, flag : True, signal : buy
날짜 : 2018-02-01 00:00:00, 모멘텀 인덱스 : 0.3594570597954836, flag : True, signal : buy
날짜 : 2018-03-01 00:00:00, 모멘텀 인덱스 : 0.21426540330128852, flag : True, signal : buy
날짜 : 2018-04-02 00:00:00, 모멘텀 인덱스 : 0.23708006735624765, flag : True, signal : buy
날짜 : 2018-05-01 00:00:00, 모멘텀 인덱스 : 0.15511510743558654, flag : True, signal : buy
날짜 : 2018-06-01 00:00:00, 모멘텀 인덱스 : 0.11678409268774592, flag : True, signal : buy
날짜 : 2018-07-02 00:00:00, 모멘텀 인덱스 : 0.34632233797312884, flag : True, signal : buy
날짜 : 2018-08-01 00:00:00, 모멘텀 인덱스 : 0.26684205610249445, flag : True, signal : buy
날짜 : 2018-09-04 00:00:00, 모멘텀 인덱스 : 0.24249823233364687, flag : True, signal : buy
날짜 : 2018-10-01 00:00:00, 모멘텀 인덱스 : 0.5071375857954603, flag : True, signal : buy
날짜 : 2018-11-01 00:00:00, 모멘텀 인덱스 : 0.38232490095278626, flag : True, signal : buy
날짜 : 2018-12-03 00:00:00, 모멘텀 인덱스 : 0.3140717188907187, flag : True, signal : buy
날짜 : 2019-01-02 00:00:00, 모멘텀 인덱스 : 0.0890209550309331, flag : True, signal : buy
날짜 : 2019-02-01 00:00:00, 모멘텀 인덱스 : -0.04463651950822889, flag : False, signal :
날짜 : 2019-03-01 00:00:00, 모멘텀 인덱스 : -0.038093135927797284, flag : False, signal :
날짜 : 2019-04-01 00:00:00, 모멘텀 인덱스 : 0.06572057329123782, flag : True, signal : buy
날짜 : 2019-05-01 00:00:00, 모멘텀 인덱스 : 0.1481493162369385, flag : True, signal : buy
날짜 : 2019-06-03 00:00:00, 모멘텀 인덱스 : 0.11913700545528072, flag : True, signal : buy
매수일 : 2010-01-04 00:00:00, 매수가 : 26.782711

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_11336\330284712.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.0411373217595488' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  _df1.loc[i,'rtn'] = rtn

매도일 : 2013-03-01 00:00:00, 매도가 : 54.667191, 수익률 : 2.0411373217595488
매수일 : 2014-01-02 00:00:00, 매수가 : 71.591667
매도일 : 2016-02-01 00:00:00, 매도가 : 90.725128, 수익률 : 1.2672582131660657
매수일 : 2016-09-01 00:00:00, 매수가 : 102.125595
매도일 : 2016-10-03 00:00:00, 매도가 : 107.66581, 수익률 : 1.0542490352198193
매수일 : 2017-01-03 00:00:00, 매수가 : 111.709831
매도일 : 2019-02-01 00:00:00, 매도가 : 165.172806, 수익률 : 1.4785879140753513
매수일 : 2019-04-01 00:00:00, 매수가 : 190.506363

(             Adj Close   STD-YM trade  rtn   acc_rtn
 Date
 1980-12-12    0.410525  1980-12        1.0  1.000000
 1980-12-15    0.389106  1980-12        1.0  1.000000
 1980-12-16    0.360548  1980-12        1.0  1.000000
 1980-12-17    0.369472  1980-12        1.0  1.000000
 1980-12-18    0.380182  1980-12        1.0  1.000000
 ...                ...      ...   ...  ...       ...
 2019-06-18  198.449997  2019-06   buy  1.0  4.032067
 2019-06-19  197.869995  2019-06   buy  1.0  4.032067
 2019-06-20  199.460007  2019-06   buy  1.0  4.032067
 2019-06-21  198.779999  2019-06   buy  1.0  4.032067
 2019-06-24  199.169998  2019-06   buy  1.0  4.032067

 [9713 rows x 5 columns],
 4.032066651790165)

In [67]:
import momentum as mm
import yfinance as yf

In [68]:
df = yf.download('TSLA', start='2015-01-01')
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,14.858000,14.883333,14.217333,14.620667,14.620667,71466000
2015-01-05,14.303333,14.433333,13.810667,14.006000,14.006000,80527500
2015-01-06,14.004000,14.280000,13.614000,14.085333,14.085333,93928500
2015-01-07,14.223333,14.318667,13.985333,14.063333,14.063333,44526000
2015-01-08,14.187333,14.253333,14.000667,14.041333,14.041333,51637500
...,...,...,...,...,...,...
2024-02-21,193.360001,199.440002,191.949997,194.770004,194.770004,103844000
2024-02-22,194.000000,198.320007,191.360001,197.410004,197.410004,92739500
2024-02-23,195.309998,197.570007,191.500000,191.970001,191.970001,78670300
2024-02-26,192.289993,201.779999,192.000000,199.399994,199.399994,111747100
2024-02-27,204.039993,205.600006,198.259995,199.729996,199.729996,108233611

In [69]:
ym_df = mm.create_YM(df)

In [70]:
ym_df.head()

            Adj Close   STD-YM
Date
2015-01-02  14.620667  2015-01
2015-01-05  14.006000  2015-01
2015-01-06  14.085333  2015-01
2015-01-07  14.063333  2015-01
2015-01-08  14.041333  2015-01

In [71]:
month_df = mm.create_month(ym_df, _start='2015-01-01')
month_df.head()

c:\Users\SAMSUNG\Documents\vscode\2024\240227\momentum.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BF1'] = df.shift()[col].fillna(0)
c:\Users\SAMSUNG\Documents\vscode\2024\240227\momentum.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BF2'] = df.shift(_momentum)[col].fillna(0)

            Adj Close   STD-YM        BF1  BF2
Date
2015-01-30  13.573333  2015-01   0.000000  0.0
2015-02-27  13.556000  2015-02  13.573333  0.0
2015-03-31  12.584667  2015-03  13.556000  0.0
2015-04-30  15.070000  2015-04  12.584667  0.0
2015-05-29  16.719999  2015-05  15.070000  0.0

In [72]:
result, acc_rtn = mm.create_rtn(ym_df, month_df)

c:\Users\SAMSUNG\Documents\vscode\2024\240227\momentum.py:64: RuntimeWarning: invalid value encountered in scalar divide
  momentum_index = _df2.loc[i,'BF1']/ _df2.loc[i,'BF2']- _score
c:\Users\SAMSUNG\Documents\vscode\2024\240227\momentum.py:64: RuntimeWarning: divide by zero encountered in scalar divide
  momentum_index = _df2.loc[i,'BF1']/ _df2.loc[i,'BF2']- _score

날짜 : 2015-01-30 00:00:00, 모멘텀 인덱스 : nan, flag : False, signal :
날짜 : 2015-02-27 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-03-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-04-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-05-29 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-06-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-07-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-08-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-09-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-10-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-11-30 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2015-12-31 00:00:00, 모멘텀 인덱스 : inf, flag : False, signal :
날짜 : 2016-01-29 00:00:00, 모멘텀 인덱스 : 0.1788311554451023, flag : True, signal : buy
날짜 : 2016-02-29 00:00:00, 모멘텀 인덱스 : -0.05970292580194192, flag : False, signal :
날짜 : 2016-03-31 00:00:00, 모멘텀 인덱스 : 0.016739870778827992, flag : True, signal : buy
날짜 : 2016-04-29 00:00:00, 모멘텀 인덱스 : 0.01645654611683045, flag : True, signal : buy
날짜 : 2016-05-31 00:00:00, 모멘텀 인덱스 : -0.04003184998565501, flag : False, signal :
날짜 : 2016-06-30 00:00:00, 모멘텀 인덱스 : -0.16785957716885447, flag : False, signal :
날짜 : 2016-07-29 00:00:00, 모멘텀 인덱스 : -0.20240465666811824, flag : False, signal :
날짜 : 2016-08-31 00:00:00, 모멘텀 인덱스 : -0.057295413196453926, flag : False, signal :
날짜 : 2016-09-30 00:00:00, 모멘텀 인덱스 : -0.1464975676121134, flag : False, signal :
날짜 : 2016-10-31 00:00:00, 모멘텀 인덱스 : -0.014014353506336286, flag : False, signal :
날짜 : 2016-11-30 00:00:00, 모멘텀 인덱스 : -0.14127508854341497, flag : False, signal :
날짜 : 2016-12-30 00:00:00, 모멘텀 인덱스 : -0.21086623630729828, flag : False, signal :
날짜 : 2017-01-31 00:00:00, 모멘텀 인덱스 : 0.11762552457385977, flag : True, signal : buy
날짜 : 2017-02-28 00:00:00, 모멘텀 인덱스 : 0.31261405875390236, flag : True, signal : buy
날짜 : 2017-03-31 00:00:00, 모멘텀 인덱스 : 0.08800107980986538, flag : True, signal : buy
날짜 : 2017-04-28 00:00:00, 모멘텀 인덱스 : 0.15592289735729703, flag : True, signal : buy
날짜 : 2017-05-31 00:00:00, 모멘텀 인덱스 : 0.40693453623693254, flag : True, signal : buy
날짜 : 2017-06-30 00:00:00, 모멘텀 인덱스 : 0.6064159529384112, flag : True, signal : buy
날짜 : 2017-07-31 00:00:00, 모멘텀 인덱스 : 0.5401421469832683, flag : True, signal : buy
날짜 : 2017-08-31 00:00:00, 모멘텀 인덱스 : 0.5257299431000408, flag : True, signal : buy
날짜 : 2017-09-29 00:00:00, 모멘텀 인덱스 : 0.7443513447740129, flag : True, signal : buy
날짜 : 2017-10-31 00:00:00, 모멘텀 인덱스 : 0.7250796157434829, flag : True, signal : buy
날짜 : 2017-11-30 00:00:00, 모멘텀 인덱스 : 0.7504222803288816, flag : True, signal : buy
날짜 : 2017-12-29 00:00:00, 모멘텀 인덱스 : 0.4453179652931105, flag : True, signal : buy
날짜 : 2018-01-31 00:00:00, 모멘텀 인덱스 : 0.2358590995358405, flag : True, signal : buy
날짜 : 2018-02-28 00:00:00, 모멘텀 인덱스 : 0.4172966509586413, flag : True, signal : buy
날짜 : 2018-03-29 00:00:00, 모멘텀 인덱스 : 0.2326985213764574, flag : True, signal : buy
날짜 : 2018-04-30 00:00:00, 모멘텀 인덱스 : -0.15264109214977273, flag : False, signal :
날짜 : 2018-05-31 00:00:00, 모멘텀 인덱스 : -0.13814845891443883, flag : False, signal :
날짜 : 2018-06-29 00:00:00, 모멘텀 인덱스 : -0.2126046893055209, flag : False, signal :
날짜 : 2018-07-31 00:00:00, 모멘텀 인덱스 : 0.060221936909079954, flag : True, signal : buy
날짜 : 2018-08-31 00:00:00, 모멘텀 인덱스 : -0.16229282806120804, flag : False, signal :
날짜 : 2018-09-28 00:00:00, 모멘텀 인덱스 : -0.11562592447486475, flag : False, signal :
날짜 : 2018-10-31 00:00:00, 모멘텀 인덱스 : -0.20136940421803495, flag : False, signal :
날짜 : 2018-11-30 00:00:00, 모멘텀 인덱스 : 0.09218070437578563, flag : True, signal : buy
날짜 : 2018-12-31 00:00:00, 모멘텀 인덱스 : 0.1256785338550408, flag : True, signal : buy
날짜 : 2019-01-31 00:00:00, 모멘텀 인덱스 : -0.060709549200131274, flag : False, signal :
날짜 : 2019-02-28 00:00:00, 모멘텀 인덱스 : -0.10505448503254489, flag : False, signal :
날짜 : 2019-03-29 00:00:00, 모멘텀 인덱스 : 0.20196888426666404, flag : True, signal : buy
날짜 : 2019-04-30 00:00:00, 모멘텀 인덱스 : -0.04777129804880953, flag : False, signal :
날짜 : 2019-05-31 00:00:00, 모멘텀 인덱스 : -0.16169702980345224, flag : False, signal :
날짜 : 2019-06-28 00:00:00, 모멘텀 인덱스 : -0.4600962161333334, flag : False, signal :
날짜 : 2019-07-31 00:00:00, 모멘텀 인덱스 : -0.25048633744909676, flag : False, signal :
날짜 : 2019-08-30 00:00:00, 모멘텀 인덱스 : -0.19906521199558302, flag : False, signal :
날짜 : 2019-09-30 00:00:00, 모멘텀 인덱스 : -0.1479019344565634, flag : False, signal :
날짜 : 2019-10-31 00:00:00, 모멘텀 인덱스 : -0.2859302764357722, flag : False, signal :
날짜 : 2019-11-29 00:00:00, 모멘텀 인덱스 : -0.10146084574867731, flag : False, signal :
날짜 : 2019-12-31 00:00:00, 모멘텀 인덱스 : -0.008593728978079196, flag : False, signal :
날짜 : 2020-01-31 00:00:00, 모멘텀 인덱스 : 0.3625496185069843, flag : True, signal : buy
날짜 : 2020-02-28 00:00:00, 모멘텀 인덱스 : 1.0337940235135523, flag : True, signal : buy
날짜 : 2020-03-31 00:00:00, 모멘텀 인덱스 : 1.3868719264398348, flag : True, signal : buy
날짜 : 2020-04-30 00:00:00, 모멘텀 인덱스 : 1.1953160804550453, flag : True, signal : buy
날짜 : 2020-05-29 00:00:00, 모멘텀 인덱스 : 3.2227262199096973, flag : True, signal : buy
날짜 : 2020-06-30 00:00:00, 모멘텀 인덱스 : 2.7366867878890617, flag : True, signal : buy
날짜 : 2020-07-31 00:00:00, 모멘텀 인덱스 : 3.4692276895316816, flag : True, signal : buy
날짜 : 2020-08-31 00:00:00, 모멘텀 인덱스 : 5.341740386101777, flag : True, signal : buy
날짜 : 2020-09-30 00:00:00, 모멘텀 인덱스 : 9.344169158941002, flag : True, signal : buy
날짜 : 2020-10-30 00:00:00, 모멘텀 인덱스 : 5.811411967310279, flag : True, signal : buy
날짜 : 2020-11-30 00:00:00, 모멘텀 인덱스 : 4.88046293525481, flag : True, signal : buy
날짜 : 2020-12-31 00:00:00, 모멘텀 인덱스 : 5.78411781727328, flag : True, signal : buy
날짜 : 2021-01-29 00:00:00, 모멘텀 인덱스 : 4.423474574817703, flag : True, signal : buy
날짜 : 2021-02-26 00:00:00, 모멘텀 인덱스 : 4.939685133704718, flag : True, signal : buy
날짜 : 2021-03-31 00:00:00, 모멘텀 인덱스 : 5.44561064492697, flag : True, signal : buy
날짜 : 2021-04-30 00:00:00, 모멘텀 인덱스 : 3.2713075923225876, flag : True, signal : buy
날짜 : 2021-05-28 00:00:00, 모멘텀 인덱스 : 3.2481435387858424, flag : True, signal : buy
날짜 : 2021-06-30 00:00:00, 모멘텀 인덱스 : 1.895046210470134, flag : True, signal : buy
날짜 : 2021-07-30 00:00:00, 모멘텀 인덱스 : 1.3753109459700283, flag : True, signal : buy
날짜 : 2021-08-31 00:00:00, 모멘텀 인덱스 : 0.3790334841176719, flag : True, signal : buy
날짜 : 2021-09-30 00:00:00, 모멘텀 인덱스 : 0.714925181388637, flag : True, signal : buy
날짜 : 2021-10-29 00:00:00, 모멘텀 인덱스 : 0.9984539091878681, flag : True, signal : buy
날짜 : 2021-11-30 00:00:00, 모멘텀 인덱스 : 0.9626498387705673, flag : True, signal : buy
날짜 : 2021-12-31 00:00:00, 모멘텀 인덱스 : 0.6222314077250077, flag : True, signal : buy
날짜 : 2022-01-31 00:00:00, 모멘텀 인덱스 : 0.33174547941589383, flag : True, signal : buy
날짜 : 2022-02-28 00:00:00, 모멘텀 인덱스 : 0.38670606890254566, flag : True, signal : buy
날짜 : 2022-03-31 00:00:00, 모멘텀 인덱스 : 0.30317556124591394, flag : True, signal : buy
날짜 : 2022-04-29 00:00:00, 모멘텀 인덱스 : 0.518944598683452, flag : True, signal : buy
날짜 : 2022-05-31 00:00:00, 모멘텀 인덱스 : 0.39272575861176984, flag : True, signal : buy
날짜 : 2022-06-30 00:00:00, 모멘텀 인덱스 : 0.11558037759677497, flag : True, signal : buy
날짜 : 2022-07-29 00:00:00, 모멘텀 인덱스 : -0.020052407012923545, flag : False, signal :
날짜 : 2022-08-31 00:00:00, 모멘텀 인덱스 : 0.21167014859150823, flag : True, signal : buy
날짜 : 2022-09-30 00:00:00, 모멘텀 인덱스 : 0.06621693893139691, flag : True, signal : buy
날짜 : 2022-10-31 00:00:00, 모멘텀 인덱스 : -0.28568224578029433, flag : False, signal :
날짜 : 2022-11-30 00:00:00, 모멘텀 인덱스 : -0.4037003616171426, flag : False, signal :
날짜 : 2022-12-30 00:00:00, 모멘텀 인덱스 : -0.44728328067161194, flag : False, signal :
날짜 : 2023-01-31 00:00:00, 모멘텀 인덱스 : -0.6054957591668068, flag : False, signal :
날짜 : 2023-02-28 00:00:00, 모멘텀 인덱스 : -0.4029847433850856, flag : False, signal :
날짜 : 2023-03-31 00:00:00, 모멘텀 인덱스 : -0.4273106911942347, flag : False, signal :
날짜 : 2023-04-28 00:00:00, 모멘텀 인덱스 : -0.2852450331042272, flag : False, signal :
날짜 : 2023-05-31 00:00:00, 모멘텀 인덱스 : -0.34991954452797147, flag : False, signal :
날짜 : 2023-06-30 00:00:00, 모멘텀 인덱스 : -0.09151793300887956, flag : False, signal :
날짜 : 2023-07-31 00:00:00, 모멘텀 인덱스 : -0.11906446444396546, flag : False, signal :
날짜 : 2023-08-31 00:00:00, 모멘텀 인덱스 : -0.029679594755418703, flag : False, signal :
날짜 : 2023-09-29 00:00:00, 모멘텀 인덱스 : -0.02703115335620876, flag : False, signal :
날짜 : 2023-10-31 00:00:00, 모멘텀 인덱스 : 0.09967482026796959, flag : True, signal : buy
날짜 : 2023-11-30 00:00:00, 모멘텀 인덱스 : 0.03153569330194017, flag : True, signal : buy
날짜 : 2023-12-29 00:00:00, 모멘텀 인덱스 : 0.9490177077144153, flag : True, signal : buy
날짜 : 2024-01-31 00:00:00, 모멘텀 인덱스 : 0.43447635363392956, flag : True, signal : buy
날짜 : 2024-02-27 00:00:00, 모멘텀 인덱스 : -0.08954359450950644, flag : False, signal :
매수일 : 2016-01-29 00:00:00, 매수가 : 12.74666690826416
매도일 : 2016-02-29 00:00:00, 매도가 : 12.795332908630371, 수익률 : 1.0038179392869095
매수일 : 2016-03-31 00:00:00, 매수가 : 15.317999839782715
매도일 : 2016-05-31 00:00:00, 매도가 : 14.881999969482422, 수익률 : 0.9715367623148847

c:\Users\SAMSUNG\Documents\vscode\2024\240227\momentum.py:87: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0038179392869095' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  _df1.loc[i,'rtn'] = rtn

매수일 : 2017-01-31 00:00:00, 매수가 : 16.795333862304688
매도일 : 2018-04-30 00:00:00, 매도가 : 19.593332290649414, 수익률 : 1.166593796305802
매수일 : 2018-07-31 00:00:00, 매수가 : 19.875999450683594
매도일 : 2018-08-31 00:00:00, 매도가 : 20.110666275024414, 수익률 : 1.0118065421023519
매수일 : 2018-11-30 00:00:00, 매수가 : 23.365333557128906
매도일 : 2019-01-31 00:00:00, 매도가 : 20.468000411987305, 수익률 : 0.8759986396916809
매수일 : 2019-03-29 00:00:00, 매수가 : 18.657333374023438
매도일 : 2019-04-30 00:00:00, 매도가 : 15.912667274475098, 수익률 : 0.8528907617971959
매수일 : 2020-01-31 00:00:00, 매수가 : 43.371334075927734
매도일 : 2022-07-29 00:00:00, 매도가 : 297.1499938964844, 수익률 : 6.85129937152223
매수일 : 2022-08-31 00:00:00, 매수가 : 275.6099853515625
매도일 : 2022-10-31 00:00:00, 매도가 : 227.5399932861328, 수익률 : 0.8255868995308259
매수일 : 2023-10-31 00:00:00, 매수가 : 200.83999633789062
매도일 : 2024-02-27 00:00:00, 매도가 : 199.72999572753906, 수익률 : 0.9944732093676993

In [73]:
acc_rtn

4.837901309487323