In [1]:
import pandas as pd

# 데이터프레임 생성
data = {'A': [1, 2, 3, 4, 5],
        'B': [5, 4, 3, 2, 1]}
df = pd.DataFrame(data)

# 조건을 만족하는 불리언 시리즈 생성
condition = df['A'] > 2

# 조건을 만족하는 행 선택
result = df[condition]
print(result)

   A  B
2  3  3
3  4  2
4  5  1

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_6964\2650838931.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df

   A  B
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1

In [3]:
import pandas as pd

# 리스트로부터 시리즈 생성
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
import pandas as pd

# 데이터와 라벨을 포함하는 딕셔너리 생성
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40]}

# 딕셔너리를 데이터프레임으로 변환하고 인덱스를 지정하지 않음
df = pd.DataFrame(data)
print("DataFrame without specifying index:")
print(df)

# 인덱스를 지정하여 데이터프레임 생성
df_with_index = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
print("\nDataFrame with specified index:")
print(df_with_index)

DataFrame without specifying index:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

DataFrame with specified index:
      Name  Age
a    Alice   25
b      Bob   30
c  Charlie   35
d    David   40