In [2]:
import pandas as pd
# 지수로 표현 안하고 소수점으로 표현하게 하는 옵션 
pd.options.display.float_format = '{:.5f}'.format

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_13748\3561848175.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_csv('./data/day1.csv',encoding='CP949')

In [8]:
df.head(5)
df.shape

(3682, 11)

In [9]:
df.tail(5)

,회사명,거래소코드,회계년도,[U01B800000000]계속영업이익(손실)(IFRS연결)(천원),[U01B350016400] 이자비용(IFRS연결)(천원),[U01B470010000] 이자비용(IFRS연결)(천원),[U01B550010000] 이자비용(IFRS연결)(천원),[U01B800000000]계속영업이익(손실)(IFRS)(천원),[U01B350016400] 이자비용(IFRS)(천원),[U01B470010000] 이자비용(IFRS)(천원),[U01B550010000] 이자비용(IFRS)(천원)
3677,휴젤(주),145020,2022/12,63908252.00000,0.00000,0.00000,3111578.00000,31175569.00000,0.00000,0.00000,3060302.00000
3678,흥구석유(주),24060,2022/12,NaN,NaN,NaN,NaN,2657026.00000,0.00000,0.00000,78735.00000
3679,흥구석유(주),24060,2023/12,NaN,NaN,NaN,NaN,1129186.00000,0.00000,0.00000,450611.00000
3680,흥국화재해상보험(주),540,2022/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3681,흥아해운(주),3280,2022/12,23809909.00000,0.00000,0.00000,348416.00000,13941742.00000,0.00000,0.00000,264446.00000

In [11]:
df.columns[4]

'[U01B350016400]   이자비용(IFRS연결)(천원)'

In [12]:
len(df.columns)

11

In [14]:
df.iloc[9,2]

'2023/12'

In [15]:
df.iloc[:, ::2]

,회사명,회계년도,[U01B350016400] 이자비용(IFRS연결)(천원),[U01B550010000] 이자비용(IFRS연결)(천원),[U01B350016400] 이자비용(IFRS)(천원),[U01B550010000] 이자비용(IFRS)(천원)
0,(주)BNK금융지주,2022/12,NaN,NaN,NaN,NaN
1,(주)CMG제약,2022/12,NaN,NaN,0.00000,15277.00000
2,(주)CMG제약,2023/12,0.00000,79543.00000,0.00000,32930.00000
3,(주)DB하이텍,2022/12,0.00000,3310000.00000,0.00000,3310000.00000
4,(주)ES큐브,2022/12,0.00000,215035.00000,0.00000,146656.00000
...,...,...,...,...,...,...
3677,휴젤(주),2022/12,0.00000,3111578.00000,0.00000,3060302.00000
3678,흥구석유(주),2022/12,NaN,NaN,0.00000,78735.00000
3679,흥구석유(주),2023/12,NaN,NaN,0.00000,450611.00000
3680,흥국화재해상보험(주),2022/12,NaN,NaN,NaN,NaN
3681,흥아해운(주),2022/12,0.00000,348416.00000,0.00000,264446.00000

In [16]:
df.iloc[::2,:]

,회사명,거래소코드,회계년도,[U01B800000000]계속영업이익(손실)(IFRS연결)(천원),[U01B350016400] 이자비용(IFRS연결)(천원),[U01B470010000] 이자비용(IFRS연결)(천원),[U01B550010000] 이자비용(IFRS연결)(천원),[U01B800000000]계속영업이익(손실)(IFRS)(천원),[U01B350016400] 이자비용(IFRS)(천원),[U01B470010000] 이자비용(IFRS)(천원),[U01B550010000] 이자비용(IFRS)(천원)
0,(주)BNK금융지주,138930,2022/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)CMG제약,58820,2023/12,6455349.00000,0.00000,0.00000,79543.00000,6657747.00000,0.00000,0.00000,32930.00000
4,(주)ES큐브,50120,2022/12,16308765.00000,0.00000,0.00000,215035.00000,5705382.00000,0.00000,0.00000,146656.00000
6,(주)JB금융지주,175330,2022/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,(주)MH에탄올,23150,2022/12,11905847.00000,0.00000,0.00000,11711547.00000,5685051.00000,0.00000,0.00000,1226940.00000
...,...,...,...,...,...,...,...,...,...,...,...
3672,효성화학(주),298000,2023/12,-346912679.00000,0.00000,0.00000,173061000.00000,-177957479.00000,0.00000,0.00000,47912000.00000
3674,휴림로봇(주),90710,2022/12,-12529978.00000,0.00000,0.00000,771677.00000,-19823031.00000,0.00000,0.00000,481758.00000
3676,휴마시스(주),205470,2023/12,-55424406.00000,0.00000,0.00000,67856.00000,-49301492.00000,0.00000,0.00000,53891.00000
3678,흥구석유(주),24060,2022/12,NaN,NaN,NaN,NaN,2657026.00000,0.00000,0.00000,78735.00000
3680,흥국화재해상보험(주),540,2022/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

35번까지

### 1. 데이터 읽기

- data 파일 안에 있는 day1.csv파일 읽기
- 읽은 뒤 df에 저장하기

### 2. 상위 5개 값 출력하기
- 상위 5개 값 출력한 뒤 데이터의 행과 열 개수 파악
- 이후 마지막 행 5개 출력하기

### 3. 전체 컬럼 출력하기 
- 출력한 뒤 5번째 컬럼명만 출력하기
- 이후 컬럼의 갯수를 확인하기

### 4. iloc을 활용해 전체행과 5번째 열 출력하기

- 이후 10번째 행에 있는 3번째 열의 값을 출력하기
- 이후 짝수번째 열만 출력하기

### 5. 결측치 확인하기. 모든 열이 가진 결측치 숫자 파악

In [20]:
df.isna().sum()

회사명                                        0
거래소코드                                      0
회계년도                                       0
[U01B800000000]계속영업이익(손실)(IFRS연결)(천원)    846
[U01B350016400]   이자비용(IFRS연결)(천원)       846
[U01B470010000]   이자비용(IFRS연결)(천원)       846
[U01B550010000]   이자비용(IFRS연결)(천원)       846
[U01B800000000]계속영업이익(손실)(IFRS)(천원)      196
[U01B350016400]   이자비용(IFRS)(천원)         196
[U01B470010000]   이자비용(IFRS)(천원)         196
[U01B550010000]   이자비용(IFRS)(천원)         196
dtype: int64

### 6. 모든 컬럼의 데이터수와 데이터타입을 확인하기

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3682 entries, 0 to 3681
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   회사명                                    3682 non-null   object
 1   거래소코드                                  3682 non-null   int64
 2   회계년도                                   3682 non-null   object
 3   [U01B800000000]계속영업이익(손실)(IFRS연결)(천원)  2836 non-null   float64
 4   [U01B350016400]   이자비용(IFRS연결)(천원)     2836 non-null   float64
 5   [U01B470010000]   이자비용(IFRS연결)(천원)     2836 non-null   float64
 6   [U01B550010000]   이자비용(IFRS연결)(천원)     2836 non-null   float64
 7   [U01B800000000]계속영업이익(손실)(IFRS)(천원)    3486 non-null   float64
 8   [U01B350016400]   이자비용(IFRS)(천원)       3486 non-null   float64
 9   [U01B470010000]   이자비용(IFRS)(천원)       3486 non-null   float64
 10  [U01B550010000]   이자비용(IFRS)(천원)       3486 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 316.6+ KB

### 7. 모든 수치형 변수의 분포를 파악하기.

In [22]:
df.describe()

,거래소코드,[U01B800000000]계속영업이익(손실)(IFRS연결)(천원),[U01B350016400] 이자비용(IFRS연결)(천원),[U01B470010000] 이자비용(IFRS연결)(천원),[U01B550010000] 이자비용(IFRS연결)(천원),[U01B800000000]계속영업이익(손실)(IFRS)(천원),[U01B350016400] 이자비용(IFRS)(천원),[U01B470010000] 이자비용(IFRS)(천원),[U01B550010000] 이자비용(IFRS)(천원)
count,3682.00000,2836.00000,2836.00000,2836.00000,2836.00000,3486.00000,3486.00000,3486.00000,3486.00000
mean,127388.42205,77074682.85931,706.36953,7610.42701,24900804.60049,40612533.45841,0.00000,7588.63626,10499801.61331
std,137254.24297,1285559594.45593,25351.50265,177052.46946,150167185.11505,812807254.08981,0.00000,168294.59890,73852725.39195
min,20.00000,-24429108000.00000,0.00000,0.00000,0.00000,-25297712000.00000,0.00000,0.00000,0.00000
25%,23832.50000,-4134614.00000,0.00000,0.00000,546763.00000,-3037201.50000,0.00000,0.00000,198072.25000
50%,72970.00000,5900724.50000,0.00000,0.00000,2060190.50000,4159548.50000,0.00000,0.00000,1135255.00000
75%,214150.00000,27803381.75000,0.00000,0.00000,7305242.25000,18237991.75000,0.00000,0.00000,3553876.50000
max,950220.00000,55654077000.00000,997059.00000,6581000.00000,4451659000.00000,25418778000.00000,0.00000,6548000.00000,2826916000.00000

### 8. '거래소코드' 열의 값들을 출력하기

- 만약 거래소코드의 값이 6자리가 아닌 경우 0으로 채우기

In [24]:
df['거래소코드']
df['거래소코드'] = df['거래소코드'].apply(lambda x : str(x).zfill(6)) #메모리의 효율을 위해 람다 사용
df['거래소코드'] = df['거래소코드'].astype(str).str.zfill(6)
df['거래소코드']

0       138930
1       058820
2       058820
3       000990
4       050120
         ...
3677    145020
3678    024060
3679    024060
3680    000540
3681    003280
Name: 거래소코드, Length: 3682, dtype: object

### 9. 거래소코드의 유일값 갯수를 출력하기 
- 이후 유일값을 모두 출력하기
- 출력한 유일값들을 for문을 사용해 출력하기

In [25]:
df['거래소코드'].nunique() # 고유값이 몇 개가 있는지 확인

2396

In [29]:
trade_code = df['거래소코드'].unique() # 뽑아온 고유값 리스트를 보여줌

In [30]:
for i in trade_code:
    print(i)

138930
058820
000990
050120
097230
175330
105560
023150
002360
009160
100840
036530
011810
002710
079940
399720
217730
035250
114190
011420
002100
009450
267290
012320
000050
214390
012610
198440
348150
098460
035290
215000
121440
366030
014200
017040
029480
037710
053270
005320
001140
066620
043650
006050
307750
035080
204020
402490
186230
083450
001570
214330
036190
049080
035460
013700
308100
187790
286750
121600
039860
137080
190510
089600
138610
130580
034310
267320
008350
004270
168330
094860
253590
212560
095660
042420
950220
311390
085910
092730
290660
306620
153460
007390
033640
330860
005720
089140
137940
160550
396270
348210
225570
217270
104620
090350
000320
194700
285490
106520
006280
142280
234690
005250
065560
004370
072710
069140
040160
332290
348340
060260
123840
012340
270870
144960
085670
064260
340360
039560
154040
023590
032190
068240
145210
019680
006370
008060
000490
048470
004780
017650
007720
065150
036480
104040
129920
009190
047040
003090
069620
007680
290380
002880
000300
012800
096350
140520
131220
003490
016090
069460
021040
161570
298540
192080
299170
012510
224060
317330
004830
090410
263800
206560
261200
145720
002150
006620
075970
100130
023450
004140
099410
007590
026960
102260
033500
088130
028100
001520
084670
060380
088910
094170
013120
049770
032960
005290
000150
131970
016740
073190
030350
203650
223250
060570
192650
217620
016670
187870
012030
066670
003160
092200
004840
263690
214680
263720
376300
017860
109740
290120
025440
196490
066900
127120
092070
007340
068790
039840
219550
079810
139130
043360
197140
068930
033130
263020
290550
187220
383930
131180
315640
317120
232680
418420
171120
388790
069540
347700
214260
115390
200350
084650
217500
141080
038390
294140
443250
228670
228850
281740
277810
215100
090360
108490
067730
328130
038060
060240
019570
016100
012700
302550
073570
377450
042500
219420
439090
027740
195500
377480
305090
098120
038290
093520
377030
100590
067280
446540
235980
041920
054180
086900
065650
138040
408920
140410
241770
090370
059210
058110
012690
005360
080420
080160
101330
012860
363260
348030
250060
288980
333050
009680
006920
038340
033920
218150
007120
049950
059090
214610
201490
418470
018700
035620
053030
301300
377740
064550
314930
208710
086820
038460
251120
199730
086040
043150
323990
267790
046310
035150
331520
066410
206400
177350
299910
424760
007210
225530
250000
002760
003850
226340
008470
014470
338220
100120
337930
064480
365900
251630
018290
044480
033560
369370
121800
082800
002070
100220
419540
200780
141000
139050
142760
065170
086670
335890
001460
138580
027410
282330
126600
082920
054220
042370
050090
307870
357880
032850
238200
093190
065450
210120
005180
143240
003960
006090
419120
122350
023600
068290
145990
225190
272550
000070
003720
361670
023000
002450
032280
002290
004440
032750
054090
004690
038500
046390
027580
038540
101000
001290
089980
042940
042600
107600
411080
252990
378800
294630
038070
006730
079650
007860
200880
019770
043710
063170
018680
021050
093920
189860
178320
122690
140070
011370
008490
035890
357550
003100
002820
171090
136490
014620
037350
011300
015750
080470
148150
188260
053060
340440
011560
396300
001430
306200
003030
019440
058650
013000
100700
024830
067830
258830
039310
075580
067770
053450
222810
252500
321370
347000
331920
049180
299660
268600
108860
208370
068270
068760
068940
290690
950200
032680
066910
043100
248070
035610
304100
086980
050960
126720
017550
253840
236200
094840
192440
424960
136510
099440
033790
276040
159910
115570
352090
408900
204630
013810
203690
049830
020710
048870
025320
134790
269620
000480
131090
232830
290520
029530
011930
004170
035510
031430
031440
162300
290560
005800
009270
138070
226330
002870
055550
001770
187270
004080
257720
222800
036710
160980
356890
217330
102280
208640
222420
037760
099320
049960
403550
050890
066790
004920
352480
352700
065770
083660
359090
115530
115480
340810
189330
035760
096530
060590
308170
260930
052300
013990
123860
025980
125210
090430
002790
357580
052710
074430
083930
149950
012170
136410
246720
067390
159010
127710
227610
143160
054800
122900
339950
099190
289010
040910
368600
052860
095340
069920
038880
003560
307180
101390
052220
078860
090150
123010
031310
059100
262840
052770
124500
372800
099520
084850
114840
032080
059120
158430
067160
053800
065660
297570
001780
361570
096610
061040
148250
347860
196170
123750
085810
117670
314140
291650
310200
179530
205500
052790
290740
238090
092600
129890
255440
263540
238120
019990
011090
217480
121890
118000
389500
034120
042110
065420
103230
260970
101490
095910
275630
419530
031330
060540
351320
056190
036540
214310
246250
063440
010580
041510
048550
007820
012750
306040
123700
025530
001380
004060
040610
096630
041910
039440
098660
052020
050760
317830
005610
058610
043340
054630
200710
096690
078520
195990
003800
088800
241840
453860
015260
172670
078150
072990
036640
227100
035000
239610
148930
044780
403870
357230
045660
224110
021080
089530
200470
262260
007460
003060
109960
397030
244920
054620
230240
230360
101360
086520
450080
247540
383310
073540
064850
383220
007700
214270
036810
173940
054940
043090
950130
205100
356680
317770
092870
317870
236810
333620
036570
008260
466910
104200
265740
053290
354200
208860
183490
085310
182400
348370
058450
069410
227950
291230
198080
048830
096870
376190
290650
156100
006260
000680
093050
108320
001120
108670
383800
073110
083310
003550
051900
373220
032640
037560
051910
058630
086960
058970
097520
179290
009780
123040
032790
347890
033310
259630
060850
143540
111770
009970
000670
012160
036000
250930
015360
122640
045060
080520
007310
322310
046120
014940
065500
271560
001800
010470
352910
039200
226400
031510
368970
138080
080580
067170
173130
049480
309930
131030
082210
380540
153710
321820
057030
122990
065530
067900
007530
273640
066430
193250
273060
019210
122870
037270
011690
040300
332570
316140
032820
115440
046970
006980
017370
103840
215380
065680
105840
010400
049800
016880
095720
005820
307280
032940
104830
240810
014190
074600
217820
030530
012620
382840
376980
008370
101160
064090
336060
095270
065950
076080
196700
069080
071460
377460
044340
348350
112040
101730
123420
065370
024070
299900
036090
136540
097800
192390
313760
008600
335870
014830
446070
000910
203450
011330
011320
086390
241690
142210
048430
206650
032620
264450
078070
024800
000700
054930
069330
263770
000220
388720
056080
084370
221800
179900
263050
000100
191410
372170
072770
039020
067920
044960
296640
302430
214320
073490
215790
344860
246960
088390
272290
041520
264850
054210
164060
065440
139480
115610
131400
080010
086890
007660
005950
015020
047560
093230
102710
074610
063760
123570
083470
091120
039030
017940
084680
181340
037370
353810
377330
035810
160600
092130
134060
014990
041830
101140
389470
277410
033230
006490
037330
100030
083640
119610
051370
064290
189300
150840
048530
023810
175140
115310
071200
333430
068330
007110
178780
019540
094820
226320
049550
389020
254120
043910
289220
174880
417840
208140
040420
045510
095700
072520
122310
361390
187420
225220
123330
159580
079370
054950
090470
287410
417500
204270
194370
026040
452160
322510
418550
035900
089790
030000
052670
038010
080220
006220
089590
216080
229000
082270
064800
001550
067000
002600
185750
063160
001630
033340
109070
044380
072020
000440
051980
228760
314130
013890
043610
303030
208350
144510
382480
382800
051160
078930
001250
007070
053050
119850
065060
311320
219750
088790
018120
109820
086060
036890
363250
100250
272450
285800
085660
261780
004650
278280
000650
362320
012600
066360
033250
047820
094360
016790
016920
284620
035720
293490
323410
377300
006380
317530
071850
050110
119860
451760
078340
063080
079190
263700
214370
038530
318000
192250
029460
002380
021320
344820
036670
115500
281820
089150
009070
025880
093320
093640
044450
073010
060720
033180
122450
052900
105330
058400
272110
039420
083550
032500
102370
092220
046440
035600
030200
053210
058850
058860
036030
033780
064820
256940
024880
042040
054410
258610
089010
220260
402030
046070
047770
080530
104540
027050
007810
036690
049430
183300
041960
089890
009730
082660
241710
355150
071950
045970
196450
029960
002020
282880
121850
015710
052330
322780
036420
031820
294570
317690
365270
372320
040350
051780
115180
182360
066310
264900
005740
259960
096240
110790
045520
036170
214150
352770
237880
020120
054780
219130
360070
065130
134580
014580
023160
323280
053620
009410
044490
124560
066700
095610
055490
064520
089030
054450
200230
214420
393210
215480
051360
045340
108230
079970
199800
417790
105550
290090
026150
322180
117730
033830
084870
057680
204610
064760
246710
340570
043220
277880
131290
246690
317240
019180
425420
131100
356860
062860
363280
321550
091810
004870
104480
081150
130740
048770
440110
034230
033540
043200
214450
208340
177830
037070
150900
037030
047310
368770
170790
049120
038950
441270
106240
131760
065690
140860
091700
318010
036580
027710
054300
068050
222110
016800
263750
168360
087010
119500
389140
009520
047050
003670
318020
256630
331380
234100
039980
041020
114630
290720
005670
094940
007330
017810
103140
005810
370090
445180
220100
035200
321260
053610
303360
377220
053160
405000
041590
367000
075130
009810
237820
023770
300080
032580
051380
057880
239890
137400
257370
024940
147760
128660
006140
376180
304840
062970
087600
291810
378340
161580
347770
163730
417180
086790
299030
039130
136480
003380
101670
365590
149980
352820
126700
106080
071090
106190
019490
066130
004590
039340
256840
006200
023350
017960
021650
053590
034830
007280
032300
037230
003350
030520
052600
011500
002390
256150
053690
047080
009240
020000
014680
025750
226440
430690
091440
014130
002320
003480
180640
005110
009460
372910
054920
002680
000880
059270
220180
214180
234340
084990
170030
079430
010620
052260
069960
041440
090850
005440
126560
057050
138360
011080
003010
008770
060560
064240
378850
241590
006060
013520
010690
126640
133820
032560
004800
093370
081660
290270
005870
353190
078590
115160
028080
200670
079980
065510
215090
005010
263920
243070
084110
010240
189980
037440
238490
095570
000590
016610
005830
267250
070960
024120
044180
016380
001940
011070
010120
096770
003570
064960
077970
071970
078890
000500
036620
000860
094480
039240
053950
011040
009140
024910
013580
012200
002140
049720
010130
002240
014570
950190
009290
017900
026910
397880
421800
440790
456490
465320
030610
339770
007690
060480
078130
002720
114090
114450
083420
014530
900070
204620
019660
014280
053260
002990
011780
001210
073240
000270
004540
247660
091970
417010
405920
051490
242040
293580
036800
030190
001260
003920
025860
111710
091590
035420
002350
251270
376930
054050
214870
058730
030210
353200
020400
008830
005750
006570
389260
317850
290670
078140
001680
084690
128820
117580
027830
016710
438220
442310
003540
045390
108380
006580
014160
009320
000430
048910
005710
006340
003220
024890
120240
003310
078600
015230
010170
060900
054670
001070
023910
006650
001440
084010
001790
001130
005880
003830
067080
032860
393890
089230
213420
077360
024900
263600
194480
067990
005160
460850
460860
086450
001230
005960
002210
025950
000640
170900
282690
041930
082640
079960
008970
228340
092780
006040
030720
014820
163560
109860
004890
002690
023790
025900
000020
241560
034020
336260
024090
001530
110990
241520
155660
069730
180400
000210
375500
013570
310870
210540
104460
113810
105740
042510
300120
171010
412350
900260
071280
032350
089860
000400
023530
020150
280360
004000
286940
004990
005300
011170
071840
058470
277070
267980
005990
072870
215200
133750
014100
078160
017180
009900
417970
087260
118990
001810
009200
009580
008420
279600
095500
254490
025560
442900
100790
412930
448830
085620
006800
207760
002840
268280
107590
134380
003650
206640
099430
032980
308080
001340
002410
382900
019010
310210
006910
000890
003000
001270
026940
011390
005030
099390
288330
126340
148140
318410
146320
083650
445360
230980
030790
148780
072950
008040
007160
014710
014970
018310
053700
009620
001470
006400
006660
425290
439250
448740
028260
207940
032830
018260
028050
009150
005930
001360
010140
016360
029780
000810
006110
009300
003230
002170
002810
054540
065570
005680
004380
000520
009770
037460
005500
000250
024950
017480
010960
004450
009470
011230
001820
000390
415580
041650
091580
263810
075180
007540
248170
100660
017390
092190
046890
004410
027040
065710
007610
067370
086710
014910
003080
004980
081580
045300
365340
000180
043260
002420
017510
004360
004490
091090
033530
036630
060230
258790
336370
357780
036830
328380
004430
084180
330730
253450
026890
033170
016590
004970
001000
025870
215600
065350
416180
034300
006880
002800
419270
430220
445970
017000
002700
012790
019170
418210
452980
393360
405640
056700
243840
003410
010280
004770
013720
222080
023460
264660
056730
297090
112610
376290
001040
000120
311690
079160
011150
097950
051500
083790
101240
008700
092040
036010
002030
183190
002310
267850
020560
332370
439730
442770
448760
467930
214430
010780
185490
175250
052460
119830
139990
027360
013310
001540
260660
131370
140670
327260
218410
293780
018250
161000
196300
900100
174900
102120
270660
038680
137310
099220
151910
019550
036120
298060
080000
091340
005850
109610
031860
005090
016250
049470
184230
255220
034730
018670
001740
006120
210980
302440
326030
402340
011790
361610
100090
001510
457940
435870
455910
285130
017670
000660
069510
234300
237690
288620
010950
023960
298690
187660
298380
203400
312610
012630
039570
294870
089470
009540
267270
322000
042670
267260
329180
297890
082740
014790
204320
028300
003580
278650
067630
024850
047920
115450
046210
060980
462020
011200
195940
006840
071670
265520
211270
089970
038870
097780
128540
038110
083500
070300
067570
101400
391060
422040
437780
438580
439410
440820
451700
181710
060250
005940
419080
004250
900140
061970
079550
060370
417200
229640
034220
066570
037950
170920
019590
323230
033160
014440
003520
036560
006740
012280
265560
053280
900300
039830
053980
052420
241790
456040
010060
353590
394280
244460
226950
057540
109080
051390
112290
232140
155650
251370
079000
041190
082850
215360
072470
073560
037400
153490
101170
066590
046940
018620
396470
336570
008290
010600
043590
053580
330350
038620
320000
900340
036200
018000
047400
077500
089850
002920
049520
435380
444920
446150
449020
450940
430700
003470
072130
340930
023410
388800
413630
442130
001200
003460
008730
008250
025820
303530
056090
053350
078020
351330
900110
095190
102460
294090
245620
088290
096040
001840
000760
024810
352940
079950
060150
023800
034590
211050
216050
049070
129260
039290
101930
249420
000230
013360
003120
003200
007570
008500
081000
020760
103590
271940
015860
950140
234920
317400
033240
049630
000950
110020
217190
147830
033100
234080
067290
001060
096760
023440
137950
033320
126880
033050
094970
025620
271980
001560
199820
002620
276730
044060
004910
004700
462520
120030
034940
018470
036930
239340
024110
389030
263860
036180
006360
130500
204840
013870
270520
388050
003780
007370
010640
051630
011000
002780
900250
009310
094850
042000
223310
900310
307930
221980
900280
001620
024840
424140
436530
455250
458320
464680
009440
119650
015590
000040
226360
111870
053080
225430
003620
151860
001390
381970
025000
092230
274090
052400
391710
123410
003690
192820
044820
222040
005070
005420
166480
003070
102940
120110
950160
138490
021240
033290
056360
200130
192400
284740
078940
060280
445680
405100
016600
139670
413600
433530
039490
015890
006890
003240
011280
004100
001420
007980
191420
073640
078000
002900
032540
022220
069260
084730
058530
005690
004720
225590
028670
010820
251970
001020
090080
010770
058430
005490
023900
371950
335810
241820
178920
237750
319660
031980
002230
043370
347740
446750
448370
454750
454640
469880
406760
418170
430230
435620
067310
166090
293480
013030
400840
221840
000080
000140
373200
036460
005430
034950
010040
025540
222980
010100
004090
025550
002200
002960
017890
000240
033270
080720
123890
015760
052690
063570
041460
101680
039740
053300
025770
436610
458610
464440
027970
025890
000970
071320
104700
023760
054040
161890
024720
161390
071050
047810
123690
092460
042700
008930
128940
452280
003680
066980
105630
069640
016450
009180
114810
070590
213500
004710
010420
004150
004960
011700
078350
045100
001750
018880
009420
024740
005860
300720
002220
006390
003300
007770
130660
051600
198940
079170
088350
000370
009830
272210
012450
042660
003530
386580
430460
195870
034810
076610
101530
143210
900270
000720
086280
064350
012330
319400
048410
004560
039010
017800
307950
011210
005380
004020
001500
011760
227840
001450
092300
111110
039610
002460
061250
010660
000850
016580
094280
298040
298050
298020
298000
192410
090710
205470
145020
024060
000540
003280

### 10. '[U01B800000000]계속영업이익(손실)(IFRS연결)(천원)' 열 이름을 '영업이익'으로 바꾸기

- 이후 '영업이익'열이 1만 이상인 데이터만 추출하기 
- 이후 loc를 이용해 영업이익이 1만 이상인 데이터의 영업이익만 추출하기
- 이후 인덱스를 재정렬하기

In [36]:
df1 = df.copy
# df.rename({'[U01B800000000]계속영업이익(손실)(IFRS연결)(천원)':'영업이익'}) 나의 오답
df.rename(columns={'[U01B800000000]계속영업이익(손실)(IFRS연결)(천원)':'영업이익'}, inplace=True)

In [39]:
df[df['영업이익'] >= 10000]

,회사명,거래소코드,회계년도,영업이익,[U01B350016400] 이자비용(IFRS연결)(천원),[U01B470010000] 이자비용(IFRS연결)(천원),[U01B550010000] 이자비용(IFRS연결)(천원),[U01B800000000]계속영업이익(손실)(IFRS)(천원),[U01B350016400] 이자비용(IFRS)(천원),[U01B470010000] 이자비용(IFRS)(천원),[U01B550010000] 이자비용(IFRS)(천원)
2,(주)CMG제약,058820,2023/12,6455349.00000,0.00000,0.00000,79543.00000,6657747.00000,0.00000,0.00000,32930.00000
3,(주)DB하이텍,000990,2022/12,558836662.00000,0.00000,0.00000,3310000.00000,558546974.00000,0.00000,0.00000,3310000.00000
4,(주)ES큐브,050120,2022/12,16308765.00000,0.00000,0.00000,215035.00000,5705382.00000,0.00000,0.00000,146656.00000
8,(주)MH에탄올,023150,2022/12,11905847.00000,0.00000,0.00000,11711547.00000,5685051.00000,0.00000,0.00000,1226940.00000
9,(주)MH에탄올,023150,2023/12,5214660.00000,0.00000,0.00000,12192511.00000,6203575.00000,0.00000,0.00000,2120654.00000
...,...,...,...,...,...,...,...,...,...,...,...
3669,효성티앤씨(주),298020,2022/12,19183248.00000,0.00000,0.00000,61566000.00000,289706110.00000,0.00000,0.00000,12924000.00000
3670,효성티앤씨(주),298020,2023/12,98706201.00000,0.00000,0.00000,85096000.00000,95955470.00000,0.00000,0.00000,16814000.00000
3675,휴마시스(주),205470,2022/12,182626628.00000,0.00000,0.00000,93951.00000,181668565.00000,0.00000,0.00000,83855.00000
3677,휴젤(주),145020,2022/12,63908252.00000,0.00000,0.00000,3111578.00000,31175569.00000,0.00000,0.00000,3060302.00000
3681,흥아해운(주),003280,2022/12,23809909.00000,0.00000,0.00000,348416.00000,13941742.00000,0.00000,0.00000,264446.00000

In [45]:
df.loc[df['영업이익'] >= 10000, '영업이익'].reset_index(drop=True, inplace=True) # [행조건, 열조건]

### 11. '회사명', '거래소코드', '회계년도', '영업이익' 으로만 이루어진 데이터프레임 생성하기
- 만들어진 데이터프레임을 df_2로 저장하기
- df_2의 회계년도 열을 datetime형식으로 변환하기
- 회계년도의 연도값을 year이라는 새로운 열에 저장하기
- year값이 23년이면서, 영업이익이 적자인 회사명 출력

In [48]:
df_2 = df[['회사명', '거래소코드', '회계년도', '영업이익']]

In [51]:
# df_2의 회계년도 열을 datetime형식으로 변환하기
df_2['회계년도']= pd.to_datetime(df_2['회계년도'])

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_13748\1227462338.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_2['회계년도']= pd.to_datetime(df_2['회계년도'])
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_13748\1227462338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['회계년도']= pd.to_datetime(df_2['회계년도'])

In [53]:
# 회계년도의 연도값을 year이라는 새로운 열에 저장하기
df_2['year']= df_2['회계년도'].dt.year
df_2

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_13748\3826938789.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['year']= df_2['회계년도'].dt.year

              회사명   거래소코드       회계년도            영업이익  year
0      (주)BNK금융지주  138930 2022-12-01             NaN  2022
1        (주)CMG제약  058820 2022-12-01             NaN  2022
2        (주)CMG제약  058820 2023-12-01   6455349.00000  2023
3        (주)DB하이텍  000990 2022-12-01 558836662.00000  2022
4         (주)ES큐브  050120 2022-12-01  16308765.00000  2022
...           ...     ...        ...             ...   ...
3677        휴젤(주)  145020 2022-12-01  63908252.00000  2022
3678      흥구석유(주)  024060 2022-12-01             NaN  2022
3679      흥구석유(주)  024060 2023-12-01             NaN  2023
3680  흥국화재해상보험(주)  000540 2022-12-01             NaN  2022
3681      흥아해운(주)  003280 2022-12-01  23809909.00000  2022

[3682 rows x 5 columns]

In [57]:
# year값이 23년이면서, 영업이익이 적자인 회사명 출력
df_2[(df_2['year']==2023) & (df_2['영업이익'] < 0)]
# df_2['year'] == 2023

               회사명   거래소코드       회계년도             영업이익  year
18        (주)TCC스틸  002710 2023-12-01   -8293018.00000  2023
24      (주)강스템바이오텍  217730 2023-12-01  -23221105.00000  2023
36           (주)경방  000050 2023-12-01  -13452219.00000  2023
40         (주)경인양행  012610 2023-12-01   -9742505.00000  2023
65          (주)국순당  043650 2023-12-01   -3876169.00000  2023
...            ...     ...        ...              ...   ...
3601      한화솔루션(주)  009830 2023-12-01 -146864417.00000  2023
3628  현대바이오사이언스(주)  048410 2023-12-01  -14499358.00000  2023
3630    현대비앤지스틸(주)  004560 2023-12-01  -30200207.00000  2023
3672       효성화학(주)  298000 2023-12-01 -346912679.00000  2023
3676       휴마시스(주)  205470 2023-12-01  -55424406.00000  2023

[294 rows x 5 columns]

### 12. df_2에서 회사명이 '삼성'을 포함하는 경우의 데이터를 출력하기

- 출력한 데이터를 df_삼성에 저장하고, 영업이익을 기준으로 내림차순 (큰값부터) 정렬하기

In [67]:
df_삼성 = df_2[df_2['회사명'].str.contains('삼성')]
df_삼성.sort_values('영업이익', ascending=False)

                회사명   거래소코드       회계년도              영업이익  year
2624        삼성전자(주)  005930 2022-12-01 55654077000.00000  2022
2625        삼성전자(주)  005930 2023-12-01 15487100000.00000  2023
2614        삼성물산(주)  028260 2023-12-01  2719106117.00000  2023
2613        삼성물산(주)  028260 2022-12-01  2544956969.00000  2022
2605       삼성SDI(주)  006400 2023-12-01  2066046562.00000  2023
2604       삼성SDI(주)  006400 2022-12-01  2039361448.00000  2022
2618     삼성에스디에스(주)  018260 2022-12-01  1130012586.00000  2022
2622        삼성전기(주)  009150 2022-12-01  1022706231.00000  2022
2616    삼성바이오로직스(주)  207940 2023-12-01   857691298.00000  2023
2615    삼성바이오로직스(주)  207940 2022-12-01   798056210.00000  2022
2619     삼성에스디에스(주)  018260 2023-12-01   701325761.00000  2023
2621     삼성엔지니어링(주)  028050 2023-12-01   695607943.00000  2023
2620     삼성엔지니어링(주)  028050 2022-12-01   595319035.00000  2022
2623        삼성전기(주)  009150 2023-12-01   458363925.00000  2023
2606        삼성공조(주)  006660 2022-12-01    40961799.00000  2022
2607        삼성공조(주)  006660 2023-12-01    14081133.00000  2023
2628       삼성중공업(주)  010140 2023-12-01  -155556376.00000  2023
2627       삼성중공업(주)  010140 2022-12-01  -627411807.00000  2022
580        (주)삼성출판사  068290 2022-12-01               NaN  2022
2608  삼성기업인수목적6호(주)  425290 2022-12-01               NaN  2022
2609  삼성기업인수목적6호(주)  425290 2023-12-01               NaN  2023
2610  삼성기업인수목적7호(주)  439250 2022-12-01               NaN  2022
2611  삼성기업인수목적7호(주)  439250 2023-12-01               NaN  2023
2612  삼성기업인수목적8호(주)  448740 2023-12-01               NaN  2023
2617      삼성생명보험(주)  032830 2022-12-01               NaN  2022
2626        삼성제약(주)  001360 2022-12-01               NaN  2022
2629        삼성증권(주)  016360 2022-12-01               NaN  2022
2630        삼성카드(주)  029780 2022-12-01               NaN  2022
2631    삼성화재해상보험(주)  000810 2022-12-01               NaN  2022

### 13 df에서 영업이익이 평균 이상인 값만 출력하기

In [68]:
df['영업이익'].mean()

77074682.85930888

In [70]:
df[df['영업이익']>=df['영업이익'].mean()]

,회사명,거래소코드,회계년도,영업이익,[U01B350016400] 이자비용(IFRS연결)(천원),[U01B470010000] 이자비용(IFRS연결)(천원),[U01B550010000] 이자비용(IFRS연결)(천원),[U01B800000000]계속영업이익(손실)(IFRS)(천원),[U01B350016400] 이자비용(IFRS)(천원),[U01B470010000] 이자비용(IFRS)(천원),[U01B550010000] 이자비용(IFRS)(천원)
3,(주)DB하이텍,000990,2022/12,558836662.00000,0.00000,0.00000,3310000.00000,558546974.00000,0.00000,0.00000,3310000.00000
14,(주)SNT홀딩스,036530,2022/12,115574756.00000,0.00000,0.00000,663414.00000,19026274.00000,0.00000,0.00000,11121.00000
15,(주)SNT홀딩스,036530,2023/12,164296063.00000,0.00000,0.00000,479669.00000,21381619.00000,0.00000,0.00000,8365.00000
25,(주)강원랜드,035250,2022/12,115612768.00000,0.00000,0.00000,1827307.00000,115887555.00000,0.00000,0.00000,1575862.00000
31,(주)경동나비엔,009450,2023/12,83148711.00000,0.00000,0.00000,9347456.00000,46331095.00000,0.00000,0.00000,3121932.00000
...,...,...,...,...,...,...,...,...,...,...,...
3644,현대코퍼레이션(주),011760,2023/12,83387484.00000,0.00000,0.00000,24038000.00000,83855758.00000,0.00000,0.00000,15909000.00000
3666,효성중공업(주),298040,2023/12,131922316.00000,0.00000,0.00000,92423000.00000,85934721.00000,0.00000,0.00000,51348000.00000
3667,효성첨단소재(주),298050,2022/12,160238371.00000,0.00000,0.00000,49363000.00000,212549126.00000,0.00000,0.00000,12545000.00000
3670,효성티앤씨(주),298020,2023/12,98706201.00000,0.00000,0.00000,85096000.00000,95955470.00000,0.00000,0.00000,16814000.00000
3675,휴마시스(주),205470,2022/12,182626628.00000,0.00000,0.00000,93951.00000,181668565.00000,0.00000,0.00000,83855.00000