In [1]:
import pandas as pd
import time

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\1582058754.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/SAMSUNG/Documents/vscode/2024/ML/해커톤/CSV/20년배당성향.자본2.csv',encoding='cp949')
df

            회사명  거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
0      (주)DB하이텍    990  2000/12  22.00                NaN              NaN
1      (주)DB하이텍    990  2001/12  20.00                NaN              NaN
2      (주)DB하이텍    990  2002/12  29.36                NaN              NaN
3      (주)DB하이텍    990  2003/12  36.68                NaN              NaN
4      (주)DB하이텍    990  2004/12  11.68                NaN              NaN
...         ...    ...      ...    ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.00         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.00        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.00        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.00        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12    NaN        170714206.0      150901297.0

[16269 rows x 6 columns]

In [10]:
df = pd.read_csv('./CSV/20년배당성향.자본2.csv',encoding='cp949')
df

            회사명  거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
0      (주)DB하이텍    990  2000/12  22.00                NaN              NaN
1      (주)DB하이텍    990  2001/12  20.00                NaN              NaN
2      (주)DB하이텍    990  2002/12  29.36                NaN              NaN
3      (주)DB하이텍    990  2003/12  36.68                NaN              NaN
4      (주)DB하이텍    990  2004/12  11.68                NaN              NaN
...         ...    ...      ...    ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.00         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.00        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.00        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.00        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12    NaN        170714206.0      150901297.0

[16269 rows x 6 columns]

In [22]:
df_copy = df.copy()
df_copy

            회사명  거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
0      (주)DB하이텍    990  2000/12  22.00                NaN              NaN
1      (주)DB하이텍    990  2001/12  20.00                NaN              NaN
2      (주)DB하이텍    990  2002/12  29.36                NaN              NaN
3      (주)DB하이텍    990  2003/12  36.68                NaN              NaN
4      (주)DB하이텍    990  2004/12  11.68                NaN              NaN
...         ...    ...      ...    ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.00         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.00        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.00        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.00        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12    NaN        170714206.0      150901297.0

[16269 rows x 6 columns]

In [23]:
# NaN 값을 포함하는 행 출력
df_cleaned = df_copy.dropna(subset=['자본(*)(IFRS연결)(천원)', '자본(*)(IFRS)(천원)'], how='all')


# 결과 출력
print("NaN 값을 포함하는 행:")
print(df_cleaned)

NaN 값을 포함하는 행:
            회사명  거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
7      (주)DB하이텍    990  2007/12   0.0        835716158.0      884960459.0
8      (주)DB하이텍    990  2008/12   0.0        844331741.0      860588250.0
9      (주)DB하이텍    990  2009/12   0.0        607545037.0      630803625.0
10     (주)DB하이텍    990  2010/12   0.0        398016157.0      376915607.0
11     (주)DB하이텍    990  2011/12   0.0        308061688.0      291709498.0
...         ...    ...      ...   ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.0         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.0        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.0        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.0        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12   NaN        170714206.0      150901297.0

[11670 rows x 6 columns]

In [28]:
df1 = df_cleaned[df_cleaned[['자본(*)(IFRS연결)(천원)']].isna().any(axis=1)]

df1.columns

Index(['회사명', '거래소코드', '회계년도', '배당성향', '자본(*)(IFRS연결)(천원)', '자본(*)(IFRS)(천원)'], dtype='object')

In [30]:
df1['자본(*)(IFRS연결)(천원)'] = df1['자본(*)(IFRS)(천원)']

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\636133457.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['자본(*)(IFRS연결)(천원)'] = df1['자본(*)(IFRS)(천원)']

In [70]:
df_cleaned.iloc[np.where(df_cleaned['자본(*)(IFRS연결)(천원)'].isna())]['자본(*)(IFRS연결)(천원)'] = df1['자본(*)(IFRS연결)(천원)']

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\661213262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.iloc[np.where(df_cleaned['자본(*)(IFRS연결)(천원)'].isna())]['자본(*)(IFRS연결)(천원)'] = df1['자본(*)(IFRS연결)(천원)']

In [77]:
df_cleaned.isna().sum()

회사명                     0
거래소코드                   0
회계년도                    0
배당성향                 1091
자본(*)(IFRS연결)(천원)    2273
자본(*)(IFRS)(천원)        14
dtype: int64

In [78]:
# '자본(*)(IFRS연결)(천원)' 열의 NaN 값을 '자본(*)(IFRS)(천원)' 열의 값으로 대체
df_cleaned['자본(*)(IFRS연결)(천원)'].fillna(df_cleaned['자본(*)(IFRS)(천원)'], inplace=True)

# 결과 출력
print(df_cleaned)

            회사명  거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)  자본(*)(IFRS)(천원)
7      (주)DB하이텍    990  2007/12   0.0        835716158.0      884960459.0
8      (주)DB하이텍    990  2008/12   0.0        844331741.0      860588250.0
9      (주)DB하이텍    990  2009/12   0.0        607545037.0      630803625.0
10     (주)DB하이텍    990  2010/12   0.0        398016157.0      376915607.0
11     (주)DB하이텍    990  2011/12   0.0        308061688.0      291709498.0
...         ...    ...      ...   ...                ...              ...
16264   흥아해운(주)   3280  2019/12   0.0         30919383.0       17632229.0
16265   흥아해운(주)   3280  2020/12   0.0        -26283865.0      -20161176.0
16266   흥아해운(주)   3280  2021/12   0.0        102939788.0      108146996.0
16267   흥아해운(주)   3280  2022/12   0.0        135304736.0      128025089.0
16268   흥아해운(주)   3280  2023/12   NaN        170714206.0      150901297.0

[11670 rows x 6 columns]

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\3552618875.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['자본(*)(IFRS연결)(천원)'].fillna(df_cleaned['자본(*)(IFRS)(천원)'], inplace=True)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\3552618875.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['자본(*)(IFRS연결)(천원)'].fillna(df_cleaned['자본(*)(IFRS)(천원)'], inplace=True)

In [79]:
df_cleaned.isna().sum()

회사명                     0
거래소코드                   0
회계년도                    0
배당성향                 1091
자본(*)(IFRS연결)(천원)       0
자본(*)(IFRS)(천원)        14
dtype: int64

In [80]:
df_cleaned2 = df_cleaned.drop(columns=['자본(*)(IFRS)(천원)'])
df_cleaned2

            회사명  거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)
7      (주)DB하이텍    990  2007/12   0.0        835716158.0
8      (주)DB하이텍    990  2008/12   0.0        844331741.0
9      (주)DB하이텍    990  2009/12   0.0        607545037.0
10     (주)DB하이텍    990  2010/12   0.0        398016157.0
11     (주)DB하이텍    990  2011/12   0.0        308061688.0
...         ...    ...      ...   ...                ...
16264   흥아해운(주)   3280  2019/12   0.0         30919383.0
16265   흥아해운(주)   3280  2020/12   0.0        -26283865.0
16266   흥아해운(주)   3280  2021/12   0.0        102939788.0
16267   흥아해운(주)   3280  2022/12   0.0        135304736.0
16268   흥아해운(주)   3280  2023/12   NaN        170714206.0

[11670 rows x 5 columns]

In [91]:
df_cleaned2.reset_index(inplace=True,drop=True)
df_cleaned2

            회사명   거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)
0      (주)DB하이텍  000990  2007/12   0.0        835716158.0
1      (주)DB하이텍  000990  2008/12   0.0        844331741.0
2      (주)DB하이텍  000990  2009/12   0.0        607545037.0
3      (주)DB하이텍  000990  2010/12   0.0        398016157.0
4      (주)DB하이텍  000990  2011/12   0.0        308061688.0
...         ...     ...      ...   ...                ...
11665   흥아해운(주)  003280  2019/12   0.0         30919383.0
11666   흥아해운(주)  003280  2020/12   0.0        -26283865.0
11667   흥아해운(주)  003280  2021/12   0.0        102939788.0
11668   흥아해운(주)  003280  2022/12   0.0        135304736.0
11669   흥아해운(주)  003280  2023/12   NaN        170714206.0

[11670 rows x 5 columns]

In [92]:
df_cleaned2["회계년도"] =pd.to_datetime(df_cleaned2["회계년도"])
df_cleaned2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11670 entries, 0 to 11669
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   회사명                11670 non-null  object
 1   거래소코드              11670 non-null  object
 2   회계년도               11670 non-null  datetime64[ns]
 3   배당성향               10579 non-null  float64
 4   자본(*)(IFRS연결)(천원)  11670 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 456.0+ KB

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_2656\3030863818.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned2["회계년도"] =pd.to_datetime(df_cleaned2["회계년도"])

In [102]:
import datetime as dt
df_cleaned2["회계년도"].dt.year

0        2007
1        2008
2        2009
3        2010
4        2011
         ...
11665    2019
11666    2020
11667    2021
11668    2022
11669    2023
Name: 회계년도, Length: 11670, dtype: int32

In [103]:
df_cleaned2["회계년"]= df_cleaned2["회계년도"].dt.year
df_cleaned2

            회사명   거래소코드       회계년도  배당성향  자본(*)(IFRS연결)(천원)   회계년
0      (주)DB하이텍  000990 2007-12-01   0.0        835716158.0  2007
1      (주)DB하이텍  000990 2008-12-01   0.0        844331741.0  2008
2      (주)DB하이텍  000990 2009-12-01   0.0        607545037.0  2009
3      (주)DB하이텍  000990 2010-12-01   0.0        398016157.0  2010
4      (주)DB하이텍  000990 2011-12-01   0.0        308061688.0  2011
...         ...     ...        ...   ...                ...   ...
11665   흥아해운(주)  003280 2019-12-01   0.0         30919383.0  2019
11666   흥아해운(주)  003280 2020-12-01   0.0        -26283865.0  2020
11667   흥아해운(주)  003280 2021-12-01   0.0        102939788.0  2021
11668   흥아해운(주)  003280 2022-12-01   0.0        135304736.0  2022
11669   흥아해운(주)  003280 2023-12-01   NaN        170714206.0  2023

[11670 rows x 6 columns]

In [104]:
df_cleaned2[df_cleaned2["회계년"] == 2007]

              회사명   거래소코드       회계년도   배당성향  자본(*)(IFRS연결)(천원)   회계년
0        (주)DB하이텍  000990 2007-12-01   0.00        835716158.0  2007
17       (주)HJ중공업  097230 2007-12-01  74.97        936466000.0  2007
33       (주)MH에탄올  023150 2007-12-01  40.36         36597472.0  2007
50     (주)SH에너지화학  002360 2007-12-01   0.00         64164020.0  2007
67      (주)SIMPAC  009160 2007-12-01  14.22         68929199.0  2007
...           ...     ...        ...    ...                ...   ...
11561     화천기계(주)  010660 2007-12-01  30.30         73749514.0  2007
11578     화천기공(주)  000850 2007-12-01  17.54        142647863.0  2007
11595     환인제약(주)  016580 2007-12-01  26.90         95030041.0  2007
11612  효성아이티엑스(주)  094280 2007-12-01   0.20         37435929.0  2007
11653     흥아해운(주)  003280 2007-12-01   0.00         87795057.0  2007

[591 rows x 6 columns]

In [179]:
marcap = pd.read_csv("C:/Users/SAMSUNG/Documents/vscode/2024/ML/해커톤/CSV/marcap_2001_2023.csv",index_col=0)
marcap.reset_index(drop=True, inplace=True)
marcap

       종목코드            시가총액    연도    종목명 기업구분
0      5930  42220609650000  2001   삼성전자    B
1       270   3274633451300  2001     기아    B
2      9150   3271583884800  2001   삼성전기    B
3      6400   2690720746000  2001  삼성SDI    B
4      4170   2065609500000  2001    신세계    B
...     ...             ...   ...    ...  ...
9233   2870     27617373000  2015     신풍    S
9234  10580     22585834200  2015  에스엠벡셀    S
9235   1140     19981062800  2015     국보    S
9236   2420     19503277200  2015   세기상사    S
9237   7280     11950000000  2015   한국특강    S

[9238 rows x 5 columns]

In [183]:
marcap['종목코드'] = marcap['종목코드'].astype(str).str.zfill(6)
marcap

        종목코드            시가총액    연도    종목명 기업구분
0     005930  42220609650000  2001   삼성전자    B
1     000270   3274633451300  2001     기아    B
2     009150   3271583884800  2001   삼성전기    B
3     006400   2690720746000  2001  삼성SDI    B
4     004170   2065609500000  2001    신세계    B
...      ...             ...   ...    ...  ...
9233  002870     27617373000  2015     신풍    S
9234  010580     22585834200  2015  에스엠벡셀    S
9235  001140     19981062800  2015     국보    S
9236  002420     19503277200  2015   세기상사    S
9237  007280     11950000000  2015   한국특강    S

[9238 rows x 5 columns]

In [184]:
marcap.columns

Index(['종목코드', '시가총액', '연도', '종목명', '기업구분'], dtype='object')

In [185]:
marcap.columns =['거래소코드', '시가총액', '회계년', '종목명', '기업구분']

In [186]:
marcap

       거래소코드            시가총액   회계년    종목명 기업구분
0     005930  42220609650000  2001   삼성전자    B
1     000270   3274633451300  2001     기아    B
2     009150   3271583884800  2001   삼성전기    B
3     006400   2690720746000  2001  삼성SDI    B
4     004170   2065609500000  2001    신세계    B
...      ...             ...   ...    ...  ...
9233  002870     27617373000  2015     신풍    S
9234  010580     22585834200  2015  에스엠벡셀    S
9235  001140     19981062800  2015     국보    S
9236  002420     19503277200  2015   세기상사    S
9237  007280     11950000000  2015   한국특강    S

[9238 rows x 5 columns]

In [187]:
df_cleaned2

            회사명   거래소코드       회계년도  배당성향  자본(*)(IFRS연결)(천원)   회계년
0      (주)DB하이텍  000990 2007-12-01   0.0        835716158.0  2007
1      (주)DB하이텍  000990 2008-12-01   0.0        844331741.0  2008
2      (주)DB하이텍  000990 2009-12-01   0.0        607545037.0  2009
3      (주)DB하이텍  000990 2010-12-01   0.0        398016157.0  2010
4      (주)DB하이텍  000990 2011-12-01   0.0        308061688.0  2011
...         ...     ...        ...   ...                ...   ...
11665   흥아해운(주)  003280 2019-12-01   0.0         30919383.0  2019
11666   흥아해운(주)  003280 2020-12-01   0.0        -26283865.0  2020
11667   흥아해운(주)  003280 2021-12-01   0.0        102939788.0  2021
11668   흥아해운(주)  003280 2022-12-01   0.0        135304736.0  2022
11669   흥아해운(주)  003280 2023-12-01   NaN        170714206.0  2023

[11670 rows x 6 columns]

In [188]:
marcap[marcap.duplicated()]

Empty DataFrame
Columns: [거래소코드, 시가총액, 회계년, 종목명, 기업구분]
Index: []

In [189]:
marcap['거래소코드'] = marcap['거래소코드'].astype(str).str.zfill(6)

In [190]:
marcap = marcap.drop_duplicates()
marcap.reset_index(drop=True, inplace=True)
marcap

       거래소코드            시가총액   회계년    종목명 기업구분
0     005930  42220609650000  2001   삼성전자    B
1     000270   3274633451300  2001     기아    B
2     009150   3271583884800  2001   삼성전기    B
3     006400   2690720746000  2001  삼성SDI    B
4     004170   2065609500000  2001    신세계    B
...      ...             ...   ...    ...  ...
9233  002870     27617373000  2015     신풍    S
9234  010580     22585834200  2015  에스엠벡셀    S
9235  001140     19981062800  2015     국보    S
9236  002420     19503277200  2015   세기상사    S
9237  007280     11950000000  2015   한국특강    S

[9238 rows x 5 columns]

In [191]:
len(marcap["거래소코드"].unique())

438

In [192]:
all_data = pd.merge(df_cleaned2,marcap, on=["거래소코드","회계년"],how='left')
all_data

,회사명,거래소코드,회계년도,배당성향,자본(*)(IFRS연결)(천원),회계년,시가총액,종목명,기업구분
0,(주)DB하이텍,000990,2007-12-01,0.0,835716158.0,2007,3.585737e+11,DB하이텍,B
1,(주)DB하이텍,000990,2008-12-01,0.0,844331741.0,2008,1.406043e+11,DB하이텍,S
2,(주)DB하이텍,000990,2009-12-01,0.0,607545037.0,2009,2.668661e+11,DB하이텍,S
3,(주)DB하이텍,000990,2010-12-01,0.0,398016157.0,2010,4.570225e+11,DB하이텍,B
4,(주)DB하이텍,000990,2011-12-01,0.0,308061688.0,2011,3.101546e+11,DB하이텍,S
...,...,...,...,...,...,...,...,...,...
11665,흥아해운(주),003280,2019-12-01,0.0,30919383.0,2019,5.392606e+10,흥아해운,S
11666,흥아해운(주),003280,2020-12-01,0.0,-26283865.0,2020,3.011700e+10,흥아해운,S
11667,흥아해운(주),003280,2021-12-01,0.0,102939788.0,2021,6.491472e+11,흥아해운,S
11668,흥아해운(주),003280,2022-12-01,0.0,135304736.0,2022,3.257757e+11,흥아해운,S
11669,흥아해운(주),003280,2023-12-01,NaN,170714206.0,2023,6.010622e+11,흥아해운,S

In [193]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11670 entries, 0 to 11669
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   회사명                11670 non-null  object
 1   거래소코드              11670 non-null  object
 2   회계년도               11670 non-null  datetime64[ns]
 3   배당성향               10579 non-null  float64
 4   자본(*)(IFRS연결)(천원)  11670 non-null  float64
 5   회계년                11670 non-null  int32
 6   시가총액               7102 non-null   float64
 7   종목명                7102 non-null   object
 8   기업구분               7102 non-null   object
dtypes: datetime64[ns](1), float64(3), int32(1), object(4)
memory usage: 775.1+ KB

In [194]:
all_data.dropna(subset='시가총액',inplace=True)
all_data

,회사명,거래소코드,회계년도,배당성향,자본(*)(IFRS연결)(천원),회계년,시가총액,종목명,기업구분
0,(주)DB하이텍,000990,2007-12-01,0.0,835716158.0,2007,3.585737e+11,DB하이텍,B
1,(주)DB하이텍,000990,2008-12-01,0.0,844331741.0,2008,1.406043e+11,DB하이텍,S
2,(주)DB하이텍,000990,2009-12-01,0.0,607545037.0,2009,2.668661e+11,DB하이텍,S
3,(주)DB하이텍,000990,2010-12-01,0.0,398016157.0,2010,4.570225e+11,DB하이텍,B
4,(주)DB하이텍,000990,2011-12-01,0.0,308061688.0,2011,3.101546e+11,DB하이텍,S
...,...,...,...,...,...,...,...,...,...
11665,흥아해운(주),003280,2019-12-01,0.0,30919383.0,2019,5.392606e+10,흥아해운,S
11666,흥아해운(주),003280,2020-12-01,0.0,-26283865.0,2020,3.011700e+10,흥아해운,S
11667,흥아해운(주),003280,2021-12-01,0.0,102939788.0,2021,6.491472e+11,흥아해운,S
11668,흥아해운(주),003280,2022-12-01,0.0,135304736.0,2022,3.257757e+11,흥아해운,S
11669,흥아해운(주),003280,2023-12-01,NaN,170714206.0,2023,6.010622e+11,흥아해운,S

In [195]:
all_data[all_data["회계년"]==2007]

,회사명,거래소코드,회계년도,배당성향,자본(*)(IFRS연결)(천원),회계년,시가총액,종목명,기업구분
0,(주)DB하이텍,000990,2007-12-01,0.00,835716158.0,2007,3.585737e+11,DB하이텍,B
17,(주)HJ중공업,097230,2007-12-01,74.97,936466000.0,2007,3.261542e+12,HJ중공업,B
33,(주)MH에탄올,023150,2007-12-01,40.36,36597472.0,2007,3.885000e+10,MH에탄올,S
50,(주)SH에너지화학,002360,2007-12-01,0.00,64164020.0,2007,7.702159e+10,SH에너지화학,S
67,(주)SIMPAC,009160,2007-12-01,14.22,68929199.0,2007,8.571471e+10,SIMPAC,S
...,...,...,...,...,...,...,...,...,...
11544,화성산업(주),002460,2007-12-01,15.10,350177646.0,2007,1.867620e+11,화성산업,S
11561,화천기계(주),010660,2007-12-01,30.30,73749514.0,2007,4.037000e+10,화천기계,S
11578,화천기공(주),000850,2007-12-01,17.54,142647863.0,2007,1.183600e+11,화천기공,S
11595,환인제약(주),016580,2007-12-01,26.90,95030041.0,2007,1.427555e+11,환인제약,S
11653,흥아해운(주),003280,2007-12-01,0.00,87795057.0,2007,6.746471e+10,흥아해운,S

In [172]:
all_data[all_data["회계년"]==2021]

,회사명,거래소코드,회계년도,배당성향,자본(*)(IFRS연결)(천원),회계년,시가총액,종목명,기업구분
14,(주)DB하이텍,000990,2021-12-01,6.17,1.106050e+09,2021,3.227777e+12,DB하이텍,B
31,(주)HJ중공업,097230,2021-12-01,0.00,4.320050e+08,2021,6.695252e+11,HJ중공업,S
47,(주)MH에탄올,023150,2021-12-01,46.13,8.470334e+07,2021,7.526097e+10,MH에탄올,S
64,(주)SH에너지화학,002360,2021-12-01,145.60,9.173910e+07,2021,1.081331e+11,SH에너지화학,S
81,(주)SIMPAC,009160,2021-12-01,17.11,5.466623e+08,2021,4.194032e+11,SIMPAC,S
...,...,...,...,...,...,...,...,...,...
11558,화성산업(주),002460,2021-12-01,40.54,4.169809e+08,2021,1.568801e+11,화성산업,S
11575,화천기계(주),010660,2021-12-01,3.68,1.258116e+08,2021,5.863000e+10,화천기계,S
11592,화천기공(주),000850,2021-12-01,30.55,3.083491e+08,2021,7.535000e+10,화천기공,S
11609,환인제약(주),016580,2021-12-01,17.38,3.172257e+08,2021,3.310812e+11,환인제약,S
11667,흥아해운(주),003280,2021-12-01,0.00,1.029398e+08,2021,6.491472e+11,흥아해운,S

In [199]:
all_data["PBR"] = all_data["시가총액"]/(all_data["자본(*)(IFRS연결)(천원)"]*1000)

In [200]:
all_data

,회사명,거래소코드,회계년도,배당성향,자본(*)(IFRS연결)(천원),회계년,시가총액,종목명,기업구분,PBR
0,(주)DB하이텍,000990,2007-12-01,0.0,835716158.0,2007,3.585737e+11,DB하이텍,B,0.429062
1,(주)DB하이텍,000990,2008-12-01,0.0,844331741.0,2008,1.406043e+11,DB하이텍,S,0.166527
2,(주)DB하이텍,000990,2009-12-01,0.0,607545037.0,2009,2.668661e+11,DB하이텍,S,0.439253
3,(주)DB하이텍,000990,2010-12-01,0.0,398016157.0,2010,4.570225e+11,DB하이텍,B,1.148251
4,(주)DB하이텍,000990,2011-12-01,0.0,308061688.0,2011,3.101546e+11,DB하이텍,S,1.006794
...,...,...,...,...,...,...,...,...,...,...
11665,흥아해운(주),003280,2019-12-01,0.0,30919383.0,2019,5.392606e+10,흥아해운,S,1.744086
11666,흥아해운(주),003280,2020-12-01,0.0,-26283865.0,2020,3.011700e+10,흥아해운,S,-1.145836
11667,흥아해운(주),003280,2021-12-01,0.0,102939788.0,2021,6.491472e+11,흥아해운,S,6.306087
11668,흥아해운(주),003280,2022-12-01,0.0,135304736.0,2022,3.257757e+11,흥아해운,S,2.407719
11669,흥아해운(주),003280,2023-12-01,NaN,170714206.0,2023,6.010622e+11,흥아해운,S,3.520868

In [ ]:
all_data.to_csv("./real_data.csv",index=0)

In [115]:
marcap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9220 entries, 0 to 9219
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    9220 non-null   object
 1   시가총액    9220 non-null   int64
 2   연도      9220 non-null   int64
 3   종목명     9220 non-null   object
 4   기업구분    9220 non-null   object
dtypes: int64(2), object(3)
memory usage: 360.3+ KB

In [116]:
df_cleaned2['거래소코드'] = df_cleaned2['거래소코드'].astype(str).str.zfill(6)
df_cleaned2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11670 entries, 0 to 11669
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   회사명                11670 non-null  object
 1   거래소코드              11670 non-null  object
 2   회계년도               11670 non-null  datetime64[ns]
 3   배당성향               10579 non-null  float64
 4   자본(*)(IFRS연결)(천원)  11670 non-null  float64
 5   회계년                11670 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), object(2)
memory usage: 501.6+ KB

In [ ]:
df['거래소코드'] = df['거래소코드'].astype(str).str.zfill(6)

In [84]:
# '회계년도'를 기준으로 데이터프레임을 년도별로 묶기
grouped_df = df_cleaned2.groupby('회계년도')

# 년도별로 묶인 데이터프레임 출력
for year, group_df in grouped_df:
    print(f"Year: {year}")
    print(group_df)
    print("\n")

Year: 2007/03
                회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
895        (주)대구백화점  006370  2007/03  17.71        274161449.0
1014          (주)대웅  003090  2007/03  10.29        294162854.0
1035        (주)대웅제약  069620  2007/03  15.04        212492941.0
2198        (주)사조대림  003960  2007/03   0.00         34448239.0
2222        (주)사조오양  006090  2007/03   0.00          9996810.0
4250     (주)오리엔트바이오  002630  2007/03   0.00         44862350.0
4682        (주)유유제약  000220  2007/03  18.48         63299681.0
7921        국제약품(주)  002720  2007/03  18.81         54695397.0
8123        기신정기(주)  092440  2007/03  25.80         95210527.0
8403        대동전자(주)  008110  2007/03   0.00         82795504.0
8807        대한제강(주)  084010  2007/03  11.00        195610575.0
9113        동원금속(주)  018500  2007/03  52.45         30614189.0
9269        동화약품(주)  000020  2007/03  41.56        160998236.0
10043       부광약품(주)  003000  2007/03  36.41        124179521.0
11797        에스엘(주)  005850  2007/03  11.99        233055516.0
12909       이화산업(주)  000760  2007/03   0.00         30629984.0
13013      일동홀딩스(주)  000230  2007/03  12.90        172991751.0
13109       일양약품(주)  007570  2007/03  53.29         74310402.0
14898  한국유나이티드제약(주)  033270  2007/03  18.49         39090647.0
15018    한국주철관공업(주)  000970  2007/03  39.33        200179028.0
15093    한국콜마홀딩스(주)  024720  2007/03  21.10         64133912.0


Year: 2007/06
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2056    (주)비비안  002070  2007/06  14.60        108324822.0
2703   (주)세원정공  021820  2007/06   4.91        110547426.0
5435    (주)체시스  033250  2007/06  21.67         16432652.0
9720   만호제강(주)  001080  2007/06  25.97        161474902.0
11278  신성통상(주)  005390  2007/06   0.00        152172794.0


Year: 2007/09
                  회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
499             (주)금비  008870  2007/09  20.80         79235014.0
1936            (주)방림  003610  2007/09  68.17        151299783.0
2517           (주)선앤엘  002820  2007/09  11.86        203873136.0
3031         (주)신영와코루  005800  2007/09   8.78        193949388.0
3671   (주)에이프로젠바이오로직스  003060  2007/09   0.00         10119157.0
9888          미원상사(주)  002840  2007/09  18.13         86931109.0
10162        사조동아원(주)  008040  2007/09  76.90         52771372.0
11065       성창기업지주(주)  000180  2007/09 -25.36        108201442.0


Year: 2007/11
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
15911  현대약품(주)  004310  2007/11  21.57        103366869.0


Year: 2007/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
7        (주)DB하이텍  000990  2007/12   0.00        835716158.0
24       (주)HJ중공업  097230  2007/12  74.97        936466000.0
47       (주)MH에탄올  023150  2007/12  40.36         36597472.0
71     (주)SH에너지화학  002360  2007/12   0.00         64164020.0
95      (주)SIMPAC  009160  2007/12  14.22         68929199.0
...           ...     ...      ...    ...                ...
16134     화천기계(주)  010660  2007/12  30.30         73749514.0
16158     화천기공(주)  000850  2007/12  17.54        142647863.0
16182     환인제약(주)  016580  2007/12  26.90         95030041.0
16204  효성아이티엑스(주)  094280  2007/12   0.20         37435929.0
16252     흥아해운(주)  003280  2007/12   0.00         87795057.0

[556 rows x 5 columns]


Year: 2008/03
              회사명   거래소코드     회계년도    배당성향  자본(*)(IFRS연결)(천원)
896      (주)대구백화점  006370  2008/03   16.49        298918383.0
1015        (주)대웅  003090  2008/03    9.33        363458436.0
1036      (주)대웅제약  069620  2008/03   12.37        269566359.0
2199      (주)사조대림  003960  2008/03    0.00         56616382.0
2223      (주)사조오양  006090  2008/03    0.00         13198423.0
4251   (주)오리엔트바이오  002630  2008/03    0.00         37786541.0
4683      (주)유유제약  000220  2008/03   14.16         72474815.0
7922      국제약품(주)  002720  2008/03    1.81         58977489.0
8124      기신정기(주)  092440  2008/03   27.00        138961656.0
8404      대동전자(주)  008110  2008/03    0.00         92734032.0
9114      동원금속(주)  018500  2008/03    0.00         30455067.0
9270      동화약품(주)  000020  2008/03   18.19        179141892.0
10044     부광약품(주)  003000  2008/03   31.31        170627725.0
11798      에스엘(주)  005850  2008/03   21.51        333861483.0
12910     이화산업(주)  000760  2008/03    0.00         30726134.0
13014    일동홀딩스(주)  000230  2008/03   17.14        195755796.0
13110     일양약품(주)  007570  2008/03  138.35         78755580.0
15019  한국주철관공업(주)  000970  2008/03   45.09        203786039.0
15094  한국콜마홀딩스(주)  024720  2008/03   33.67         71942891.0


Year: 2008/06
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2057    (주)비비안  002070  2008/06  19.50        118183174.0
2704   (주)세원정공  021820  2008/06   3.28        141329076.0
5436    (주)체시스  033250  2008/06  26.00         19916072.0
9721   만호제강(주)  001080  2008/06  12.86        166168685.0
11279  신성통상(주)  005390  2008/06   0.00        127572225.0


Year: 2008/09
                 회사명   거래소코드     회계년도    배당성향  자본(*)(IFRS연결)(천원)
500            (주)금비  008870  2008/09  109.65         77448863.0
1937           (주)방림  003610  2008/09    4.94        177111282.0
3032        (주)신영와코루  005800  2008/09    9.81        206199382.0
3672  (주)에이프로젠바이오로직스  003060  2008/09    0.00         19527481.0
9889         미원상사(주)  002840  2008/09   12.15        107257285.0


Year: 2008/11
           회사명   거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)
15912  현대약품(주)  004310  2008/11  46.0         92631067.0


Year: 2008/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
8        (주)DB하이텍  000990  2008/12   0.00       8.443317e+08
25       (주)HJ중공업  097230  2008/12   7.51       2.104845e+09
48       (주)MH에탄올  023150  2008/12   0.00       3.444299e+07
72     (주)SH에너지화학  002360  2008/12   0.00       7.363026e+07
96      (주)SIMPAC  009160  2008/12   7.85       9.234632e+07
...           ...     ...      ...    ...                ...
16135     화천기계(주)  010660  2008/12  22.18       7.842136e+07
16159     화천기공(주)  000850  2008/12  13.57       1.718947e+08
16183     환인제약(주)  016580  2008/12  27.20       9.784285e+07
16205  효성아이티엑스(주)  094280  2008/12   0.00       6.603423e+07
16253     흥아해운(주)  003280  2008/12  13.30       1.207609e+08

[568 rows x 5 columns]


Year: 2009/03
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
897      (주)대구백화점  006370  2009/03  15.64        314185853.0
1016        (주)대웅  003090  2009/03  25.57        412529965.0
1037      (주)대웅제약  069620  2009/03  20.90        278847116.0
2224      (주)사조오양  006090  2009/03   0.00         28977750.0
4252   (주)오리엔트바이오  002630  2009/03   0.00         57597946.0
4684      (주)유유제약  000220  2009/03   0.00         64591704.0
7923      국제약품(주)  002720  2009/03   3.56         65248287.0
8125      기신정기(주)  092440  2009/03  29.55        158517186.0
8405      대동전자(주)  008110  2009/03   0.00        114179615.0
9115      동원금속(주)  018500  2009/03   0.00         26764037.0
9271      동화약품(주)  000020  2009/03  14.69        205363087.0
10045     부광약품(주)  003000  2009/03  25.67        174005655.0
11799      에스엘(주)  005850  2009/03   0.00        321383697.0
12911     이화산업(주)  000760  2009/03   0.00         29910667.0
13015    일동홀딩스(주)  000230  2009/03  17.74        206859314.0
13111     일양약품(주)  007570  2009/03   0.00        119447991.0
15020  한국주철관공업(주)  000970  2009/03  57.34        206034494.0
15095  한국콜마홀딩스(주)  024720  2009/03  34.89         75091484.0


Year: 2009/06
            회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2705    (주)세원정공  021820  2009/06   3.35        175782991.0
5437     (주)체시스  033250  2009/06   0.00         27523806.0
7026   (주)형지엘리트  093240  2009/06  17.19         25703517.0
9722    만호제강(주)  001080  2009/06   4.99        179807780.0
11280   신성통상(주)  005390  2009/06   0.00        198492064.0


Year: 2009/09
                 회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
501            (주)금비  008870  2009/09  43.09         78837635.0
1938           (주)방림  003610  2009/09  50.46        177365397.0
3033        (주)신영와코루  005800  2009/09  10.10        220792516.0
3673  (주)에이프로젠바이오로직스  003060  2009/09   0.00         25176406.0


Year: 2009/11
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
15913  현대약품(주)  004310  2009/11  73.25         92598087.0


Year: 2009/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
9        (주)DB하이텍  000990  2009/12   0.00       6.075450e+08
26       (주)HJ중공업  097230  2009/12  23.02       2.080926e+09
49       (주)MH에탄올  023150  2009/12   0.00       4.509630e+07
73     (주)SH에너지화학  002360  2009/12   0.00       6.968716e+07
97      (주)SIMPAC  009160  2009/12  14.66       1.041800e+08
...           ...     ...      ...    ...                ...
16136     화천기계(주)  010660  2009/12  27.46       8.216584e+07
16160     화천기공(주)  000850  2009/12  30.53       1.790885e+08
16184     환인제약(주)  016580  2009/12  25.22       1.084361e+08
16206  효성아이티엑스(주)  094280  2009/12   0.94       7.158330e+07
16254     흥아해운(주)  003280  2009/12   0.00       1.501694e+08

[581 rows x 5 columns]


Year: 2010/03
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
898      (주)대구백화점  006370  2010/03  15.00        334279460.0
1017        (주)대웅  003090  2010/03  13.90        429379178.0
1038      (주)대웅제약  069620  2010/03  15.16        314240750.0
4253   (주)오리엔트바이오  002630  2010/03   0.00         61765208.0
4685      (주)유유제약  000220  2010/03  21.56         70458935.0
7924      국제약품(주)  002720  2010/03   5.39         71936065.0
8126      기신정기(주)  092440  2010/03  27.44        169771980.0
8406      대동전자(주)  008110  2010/03   0.00        109407274.0
9116      동원금속(주)  018500  2010/03   0.00         27524352.0
10046     부광약품(주)  003000  2010/03  47.34        191802610.0
11800      에스엘(주)  005850  2010/03   5.46        417957340.0
12912     이화산업(주)  000760  2010/03   0.00        172886350.0
13016    일동홀딩스(주)  000230  2010/03  13.76        280270340.0
13112     일양약품(주)  007570  2010/03   0.00        129192403.0
15021  한국주철관공업(주)  000970  2010/03  54.83        208696810.0
15096  한국콜마홀딩스(주)  024720  2010/03  21.72         98189800.0


Year: 2010/06
            회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2706    (주)세원정공  021820  2010/06   1.16        228589777.0
5438     (주)체시스  033250  2010/06   0.00         26082823.0
7027   (주)형지엘리트  093240  2010/06  20.58         36392924.0
9723    만호제강(주)  001080  2010/06   7.80        189227199.0
11281   신성통상(주)  005390  2010/06   0.00        194054817.0


Year: 2010/09
                 회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
502            (주)금비  008870  2010/09  73.41         78566232.0
1939           (주)방림  003610  2010/09  19.66        179243415.0
3034        (주)신영와코루  005800  2010/09   8.66        235170896.0
3674  (주)에이프로젠바이오로직스  003060  2010/09   0.00         41376330.0


Year: 2010/11
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
15914  현대약품(주)  004310  2010/11  35.55         92504858.0


Year: 2010/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
10       (주)DB하이텍  000990  2010/12   0.00       3.980162e+08
27       (주)HJ중공업  097230  2010/12   0.00       1.955791e+09
50       (주)MH에탄올  023150  2010/12   0.00       4.662515e+07
74     (주)SH에너지화학  002360  2010/12   0.00       6.152674e+07
98      (주)SIMPAC  009160  2010/12  13.43       1.453250e+08
...           ...     ...      ...    ...                ...
16137     화천기계(주)  010660  2010/12  17.77       9.102416e+07
16161     화천기공(주)  000850  2010/12  14.96       1.727660e+08
16185     환인제약(주)  016580  2010/12  21.12       1.369811e+08
16207  효성아이티엑스(주)  094280  2010/12   0.00       1.787697e+07
16255     흥아해운(주)  003280  2010/12  16.93       1.367762e+08

[616 rows x 5 columns]


Year: 2011/03
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
899      (주)대구백화점  006370  2011/03  11.96        380091349.0
4254   (주)오리엔트바이오  002630  2011/03   0.00         69256113.0
4686      (주)유유제약  000220  2011/03  53.76         66034868.0
7925      국제약품(주)  002720  2011/03   9.09         73872229.0
8127      기신정기(주)  092440  2011/03  33.90        186965294.0
8407      대동전자(주)  008110  2011/03   0.00        111050074.0
9117      동원금속(주)  018500  2011/03  12.35         36489642.0
10047     부광약품(주)  003000  2011/03  47.43        198767610.0
11801      에스엘(주)  005850  2011/03   8.25        510357202.0
12913     이화산업(주)  000760  2011/03   0.00        210940781.0
13113     일양약품(주)  007570  2011/03  69.72        125330249.0
15022  한국주철관공업(주)  000970  2011/03  84.47        212776151.0
15097  한국콜마홀딩스(주)  024720  2011/03  25.71        123201733.0


Year: 2011/06
            회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2707    (주)세원정공  021820  2011/06   3.31        234543191.0
5439     (주)체시스  033250  2011/06   8.90         28929063.0
7028   (주)형지엘리트  093240  2011/06  18.44         39084396.0
9724    만호제강(주)  001080  2011/06   6.34        199041194.0
11282   신성통상(주)  005390  2011/06   1.97        198737015.0


Year: 2011/09
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
503      (주)금비  008870  2011/09  24.50        127461261.0
1940     (주)방림  003610  2011/09  39.40        178722354.0
3035  (주)신영와코루  005800  2011/09   7.84        249449685.0


Year: 2011/11
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
15915  현대약품(주)  004310  2011/11  94.75        104316355.0


Year: 2011/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
11       (주)DB하이텍  000990  2011/12   0.00       3.080617e+08
28       (주)HJ중공업  097230  2011/12   0.00       1.866848e+09
51       (주)MH에탄올  023150  2011/12   0.00       4.266734e+07
75     (주)SH에너지화학  002360  2011/12   0.00       6.524233e+07
99      (주)SIMPAC  009160  2011/12  12.74       1.689413e+08
...           ...     ...      ...    ...                ...
16138     화천기계(주)  010660  2011/12  12.60       1.048460e+08
16162     화천기공(주)  000850  2011/12  14.20       2.092131e+08
16186     환인제약(주)  016580  2011/12  26.12       1.498548e+08
16208  효성아이티엑스(주)  094280  2011/12   0.00       2.156052e+07
16256     흥아해운(주)  003280  2011/12   0.00       1.132583e+08

[628 rows x 5 columns]


Year: 2012/03
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
900      (주)대구백화점  006370  2012/03  20.50        395404096.0
4255   (주)오리엔트바이오  002630  2012/03   0.00         60514842.0
4687      (주)유유제약  000220  2012/03  37.85         67228754.0
8128      기신정기(주)  092440  2012/03  33.15        192951140.0
8408      대동전자(주)  008110  2012/03   0.00        109599925.0
9118      동원금속(주)  018500  2012/03  10.80         49632232.0
12914     이화산업(주)  000760  2012/03   0.00        208567629.0
13114     일양약품(주)  007570  2012/03   0.00        177471498.0
15023  한국주철관공업(주)  000970  2012/03  88.40        215393957.0
15098  한국콜마홀딩스(주)  024720  2012/03  25.60        139347044.0


Year: 2012/06
            회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2708    (주)세원정공  021820  2012/06   9.51        314328513.0
5440     (주)체시스  033250  2012/06  10.17         33174039.0
7029   (주)형지엘리트  093240  2012/06  26.05         46553773.0
9725    만호제강(주)  001080  2012/06   6.49        206302320.0
11283   신성통상(주)  005390  2012/06   2.23        207880702.0


Year: 2012/09
           회사명   거래소코드     회계년도    배당성향  자본(*)(IFRS연결)(천원)
504      (주)금비  008870  2012/09  669.40        127569592.0
1941     (주)방림  003610  2012/09   14.29        169458223.0
3036  (주)신영와코루  005800  2012/09    9.40        261091985.0


Year: 2012/11
           회사명   거래소코드     회계년도  배당성향  자본(*)(IFRS연결)(천원)
15916  현대약품(주)  004310  2012/11 -18.1         99686775.0


Year: 2012/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
12       (주)DB하이텍  000990  2012/12   0.00       2.908933e+08
29       (주)HJ중공업  097230  2012/12   0.00       1.715516e+09
52       (주)MH에탄올  023150  2012/12   0.00       3.967826e+07
76     (주)SH에너지화학  002360  2012/12   0.00       6.488120e+07
100     (주)SIMPAC  009160  2012/12  12.00       1.878610e+08
...           ...     ...      ...    ...                ...
16139     화천기계(주)  010660  2012/12  16.30       1.152029e+08
16163     화천기공(주)  000850  2012/12  22.39       2.224582e+08
16187     환인제약(주)  016580  2012/12  24.16       1.625297e+08
16209  효성아이티엑스(주)  094280  2012/12   7.10       2.786134e+07
16257     흥아해운(주)  003280  2012/12   3.50       1.246651e+08

[638 rows x 5 columns]


Year: 2013/03
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
901      (주)대구백화점  006370  2013/03  46.05        399379644.0
4256   (주)오리엔트바이오  002630  2013/03   0.00         62289543.0
4688      (주)유유제약  000220  2013/03  35.77         69501413.0
8129      기신정기(주)  092440  2013/03  46.80        201766026.0
8409      대동전자(주)  008110  2013/03  71.00        116476106.0
9119      동원금속(주)  018500  2013/03  45.97         48251905.0
12915     이화산업(주)  000760  2013/03   0.00        183985511.0
13115     일양약품(주)  007570  2013/03  84.75        181877369.0
15024  한국주철관공업(주)  000970  2013/03  49.40        218445139.0
15075     한국콜마(주)  161890  2013/03  18.72         97807112.0
15099  한국콜마홀딩스(주)  024720  2013/03   8.08        184210176.0


Year: 2013/06
            회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2709    (주)세원정공  021820  2013/06   5.25        399425088.0
5441     (주)체시스  033250  2013/06  25.30         32275412.0
7030   (주)형지엘리트  093240  2013/06  38.79         49398797.0
9726    만호제강(주)  001080  2013/06  10.33        212516235.0
11284   신성통상(주)  005390  2013/06   0.00        203345440.0


Year: 2013/09
           회사명   거래소코드     회계년도    배당성향  자본(*)(IFRS연결)(천원)
505      (주)금비  008870  2013/09  320.59        127930275.0
1942     (주)방림  003610  2013/09   26.68        171319317.0
3037  (주)신영와코루  005800  2013/09   12.00        268435522.0


Year: 2013/11
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
15917  현대약품(주)  004310  2013/11  75.56        101211909.0


Year: 2013/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
13       (주)DB하이텍  000990  2013/12   0.00       2.047567e+08
30       (주)HJ중공업  097230  2013/12   0.00       1.638998e+09
53       (주)MH에탄올  023150  2013/12   0.00       4.588552e+07
77     (주)SH에너지화학  002360  2013/12  34.37       6.959914e+07
101     (주)SIMPAC  009160  2013/12  11.26       2.088310e+08
...           ...     ...      ...    ...                ...
16140     화천기계(주)  010660  2013/12  22.67       1.222817e+08
16164     화천기공(주)  000850  2013/12  24.34       2.298838e+08
16188     환인제약(주)  016580  2013/12  26.18       1.732105e+08
16210  효성아이티엑스(주)  094280  2013/12   8.66       2.884548e+07
16258     흥아해운(주)  003280  2013/12   4.60       1.553470e+08

[655 rows x 5 columns]


Year: 2014/03
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
902      (주)대구백화점  006370  2014/03  95.30        413275509.0
4257   (주)오리엔트바이오  002630  2014/03   0.00         61846031.0
4689      (주)유유제약  000220  2014/03  59.48         72276479.0
8130      기신정기(주)  092440  2014/03  28.25        216354532.0
8410      대동전자(주)  008110  2014/03   0.00        110390894.0
9120      동원금속(주)  018500  2014/03  25.56         52329833.0
12916     이화산업(주)  000760  2014/03   0.00        181154951.0
13116     일양약품(주)  007570  2014/03  44.34        183880576.0
15025  한국주철관공업(주)  000970  2014/03  77.20        219139936.0


Year: 2014/06
            회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
2710    (주)세원정공  021820  2014/06   7.39        435958354.0
5442     (주)체시스  033250  2014/06   0.00         25191185.0
7031   (주)형지엘리트  093240  2014/06   0.00         56845513.0
9727    만호제강(주)  001080  2014/06  10.54        217813274.0
11285   신성통상(주)  005390  2014/06   0.00        200453224.0


Year: 2014/09
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
506      (주)금비  008870  2014/09   0.00        130427078.0
1943     (주)방림  003610  2014/09  30.92        173036615.0
3038  (주)신영와코루  005800  2014/09  22.05        271747957.0


Year: 2014/11
           회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)
15918  현대약품(주)  004310  2014/11  71.87        104686501.0


Year: 2014/12
              회사명   거래소코드     회계년도   배당성향  자본(*)(IFRS연결)(천원)