In [2]:
import yfinance as yf
import datetime

# 시작 및 종료 날짜 설정
start_date = '2023-04-01'
end_date = '2024-03-25'

# 코스피 지수에 해당하는 코드는 ^KS11
kospi_data = yf.download('^KS11', start=start_date, end=end_date)

# 일별 수익률 계산
kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100

print(kospi_data['Daily_Return'])

[*********************100%%**********************]  1 of 1 completed

Date
2023-04-03         NaN
2023-04-04    0.330453
2023-04-05    0.592618
2023-04-06   -1.441962
2023-04-07    1.267874
                ...
2024-03-18    0.712454
2024-03-19   -1.104688
2024-03-20    1.278908
2024-03-21    2.405831
2024-03-22   -0.228689
Name: Daily_Return, Length: 239, dtype: float64

In [3]:
import yfinance as yf
import pandas as pd

# 시작 및 종료 날짜 설정
start_date = '2023-04-01'
end_date = '2024-03-25'

# 코스피 지수에 해당하는 코드는 ^KS11
kospi_data = yf.download('^KS11', start=start_date, end=end_date)

# 일별 수익률 계산
kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100

# NaN 값을 가진 행 필터링
nan_rows = kospi_data[kospi_data['Daily_Return'].isna()]
print(nan_rows)

[*********************100%%**********************]  1 of 1 completed

                   Open         High          Low        Close    Adj Close  \
Date
2023-04-03  2485.810059  2485.810059  2467.590088  2472.340088  2472.340088

            Volume  Daily_Return
Date
2023-04-03  807400           NaN

In [4]:
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Daily_Return
Date,,,,,,,
2023-04-03,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400,NaN
2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,0.330453
2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,0.592618
2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,-1.441962
2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,1.267874
...,...,...,...,...,...,...,...
2024-03-18,2678.520020,2688.070068,2665.280029,2685.840088,2685.840088,408200,0.712454
2024-03-19,2673.570068,2673.570068,2645.139893,2656.169922,2656.169922,695900,-1.104688
2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,1.278908
2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2.405831
2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,-0.228689

In [1]:
import yfinance as yf
import pandas as pd

# 시작 및 종료 날짜 설정
start_date = '2023-04-01'
end_date = '2024-03-31'

# 코스피 지수에 해당하는 코드는 ^KS11
kospi_data = yf.download('^KS11', start=start_date, end=end_date)

# 일별 수익률 계산
kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100

# NaN 값을 가진 행 제거
kospi_data.dropna(inplace=True)

# CSV 파일로 저장
kospi_data.to_csv('kospi_daily_returns.csv')

[*********************100%%**********************]  1 of 1 completed

In [2]:
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Daily_Return
Date,,,,,,,
2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,0.330453
2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,0.592618
2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,-1.441962
2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,1.267874
2023-04-10,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,0.870145
...,...,...,...,...,...,...,...
2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,1.278908
2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2.405831
2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,-0.228689
2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,-0.399845
2024-03-26,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,439471,0.713042

In [ ]:
month_end = pd.date_range(start_date, end_date, freq='M')